/*2019-06-09 3:19 PM*/
/***** Luvbrite Admin - Type setting *****/
/*Base size for desktop*/
/* @basesizeD / 10. Division by 10 because 10px would come as 1, and 15px as 1.5*/
/** Styles Starts **/
.black {
  color: black !important;
}
.white {
  color: white !important;
}
.grey3 {
  color: #333 !important;
}
.grey7 {
  color: #777 !important;
}
.orange1 {
  color: #EF6030 !important;
}
.blue1 {
  color: #118DC7 !important;
}
.green1 {
  color: #008c77 !important;
}
.green2 {
  color: #70b100 !important;
}
.green3 {
  color: #16a765 !important;
}
.red1 {
  color: #E00 !important;
}
.red2 {
  color: #dd4b39 !important;
}
.bg-white,
.lb_busy_pop,
.pop-gallery {
  background: white;
}
.bg-black {
  background: black;
}
.bg-green1 {
  background: #008c77;
}
.bg-green2 {
  background: #70b100;
}
.bg-orange2 {
  background: #ffa500;
}
.bg-greyC {
  background: #CCC;
}
.bg-greyF0 {
  background: #f0f0f0;
}
.bg-greyD0 {
  background: #d0d0d0;
}
.bg-greyF9 {
  background: #f9f9f9;
}
.basefont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.thin {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.bolder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.abs,
.fill,
.lboverlay,
.pop-gallery {
  position: absolute;
}
.rel {
  position: relative;
}
.fix,
.page-level-alert,
.pop-gallery-overlay {
  position: fixed;
}
.full-width {
  width: 100%;
}
img.fit,
.thumbnail-holder img,
.slide-holder img {
  max-width: 100%;
  max-height: 100%;
}
.fill,
.lboverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.clear-l {
  clear: left;
}
.clear-r {
  clear: right;
}
.clearfix,
.row {
  /*duplicating here so we can extend it.*/
}
.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.row:after {
  clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.nopad {
  padding: 0;
}
.nopadi {
  padding: 0!important;
}
.pad-min {
  padding: 0.0071428571428571435rem;
}
.pad05 {
  padding: 0.35714285714285715rem;
}
.pad1,
.pop-gallery {
  padding: 0.7142857142857143rem;
}
.pad15 {
  padding: 1.0714285714285714rem;
}
.pad2,
.lb_busy_pop {
  padding: 1.4285714285714286rem;
}
.pad3 {
  padding: 2.142857142857143rem;
}
.pad5 {
  padding: 3.5714285714285716rem;
}
.pad-b1 {
  padding-bottom: 0.7142857142857143rem;
}
.pad-b2 {
  padding-bottom: 1.4285714285714286rem;
}
.pad-t0 {
  padding-top: 0rem;
}
.pad-t1 {
  padding-top: 0.7142857142857143rem;
}
.pad-t2 {
  padding-top: 1.4285714285714286rem;
}
.pad-t3 {
  padding-top: 2.142857142857143rem;
}
.pad-h1 {
  padding-left: 0.7142857142857143rem;
  padding-right: 0.7142857142857143rem;
}
.pad-h15,
.sections {
  padding-left: 1.0714285714285714rem;
  padding-right: 1.0714285714285714rem;
}
.pad-h2 {
  padding-left: 1.4285714285714286rem;
  padding-right: 1.4285714285714286rem;
}
.pad-h3 {
  padding-left: 2.142857142857143rem;
  padding-right: 2.142857142857143rem;
}
.pad-h4 {
  padding-left: 2.857142857142857rem;
  padding-right: 2.857142857142857rem;
}
.pad-v1 {
  padding-top: 0.7142857142857143rem;
  padding-bottom: 0.7142857142857143rem;
}
.pad-v2 {
  padding-top: 1.4285714285714286rem;
  padding-bottom: 1.4285714285714286rem;
}
.pad-v3 {
  padding-top: 2.142857142857143rem;
  padding-bottom: 2.142857142857143rem;
}
.pad-v4 {
  padding-top: 2.857142857142857rem;
  padding-bottom: 2.857142857142857rem;
}
.pad-l0 {
  padding-left: 0 !important;
}
.pad-r0 {
  padding-right: 0 !important;
}
@media (min-width: 768px) {
  .pad-d-r0 {
    padding-right: 0!important;
  }
}
.automarg,
hr {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
.nomarg {
  margin: 0rem;
}
.nomargi {
  margin: 0rem !important;
}
.marg-t0 {
  margin-top: 0rem !important;
}
.marg-t05 {
  margin-top: 0.35714285714285715rem !important;
}
.marg-t1 {
  margin-top: 0.7142857142857143rem;
}
.marg-t2 {
  margin-top: 1.4285714285714286rem;
}
.marg-t5 {
  margin-top: 3.5714285714285716rem;
}
.marg-t9 {
  margin-top: 6.428571428571429rem;
}
.marg-b0 {
  margin-bottom: 0rem !important;
}
.marg-b05 {
  margin-bottom: 0.35714285714285715rem;
}
.marg-b1,
label.fa-label {
  margin-bottom: 0.7142857142857143rem;
}
.marg-b15 {
  margin-bottom: 1.0714285714285714rem;
}
.marg-b2 {
  margin-bottom: 1.4285714285714286rem;
}
.marg-b25 {
  margin-bottom: 1.7857142857142858rem;
}
.marg-b3 {
  margin-bottom: 2.142857142857143rem;
}
.marg-b4 {
  margin-bottom: 2.857142857142857rem;
}
.marg-b5 {
  margin-bottom: 3.5714285714285716rem;
}
.marg-b6 {
  margin-bottom: 4.285714285714286rem;
}
.marg-b10 {
  margin-bottom: 7.142857142857143rem;
}
.marg-l1 {
  margin-left: 0.7142857142857143rem;
}
.marg-l15,
.rating-wrapper .review-count {
  margin-left: 1.0714285714285714rem;
}
.marg-l2 {
  margin-left: 1.4285714285714286rem;
}
.marg-l3 {
  margin-left: 2.142857142857143rem;
}
.marg-r1 {
  margin-right: 0.7142857142857143rem;
}
.marg-r2 {
  margin-right: 1.4285714285714286rem;
}
.marg-r3 {
  margin-right: 2.142857142857143rem;
}
.marg-v1,
hr {
  margin-top: 0.7142857142857143rem;
  margin-bottom: 0.7142857142857143rem;
}
.marg-h1 {
  margin-left: 0.7142857142857143rem;
  margin-right: 0.7142857142857143rem;
}
.marg-h2 {
  margin-left: 1.4285714285714286rem;
  margin-right: 1.4285714285714286rem;
}
.p25 p {
  margin-bottom: 1.7857142857142858rem;
}
@media (max-width: 767px) {
  .m-marg-b2 {
    margin-bottom: 1.4285714285714286rem;
  }
}
.no-decor {
  text-decoration: none;
}
.no-decori {
  text-decoration: none !important;
}
.u {
  text-decoration: underline !important;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pre-wrap {
  white-space: pre-wrap;
}
.hideme {
  display: none;
}
.show {
  display: block !important;
}
.overlay,
.pop-gallery-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.inline {
  display: inline;
}
.inlineb,
.lb_busy_pop,
.rating-wrapper .review-count {
  display: inline-block;
}
.t-display {
  display: table !important;
}
.t-row {
  display: table-row;
}
.t-cell {
  display: table-cell !important;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .m-nofloat {
    float: none;
  }
}
.no-outline {
  outline: none !important;
}
.noborder {
  border: none !important;
}
.border1 {
  border: 1px solid #ddd;
}
.border-b {
  border-bottom: 1px solid #ddd;
}
.border-r {
  border-right: 1px solid #ddd;
}
.border-l {
  border-left: 1px solid #ddd;
}
.border-t {
  border-top: 1px solid #ddd;
}
.form-border {
  border: 1px solid #ddd;
}
.pointer,
label.fa-label {
  cursor: pointer !important;
}
.cursor-default {
  cursor: default !important;
}
.overflow-hidden,
.noscroll {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-ellipsis,
.seoelement-wrapper > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nowrap {
  white-space: nowrap;
}
.text-center,
.lb_busy_pop,
.fgw-file-list > ul > li {
  text-align: center;
}
.text-right {
  text-align: right;
}
@media (min-width: 768px) {
  .text-d-right {
    text-align: right;
  }
}
.text-left {
  text-align: left;
}
.size10 {
  font-size: 0.7142857142857143rem;
}
.size11 {
  font-size: 0.7857142857142858rem;
}
.size12,
.form-group .onerror {
  font-size: 0.8571428571428572rem;
}
.size13,
.lb_busy_pop {
  font-size: 0.9285714285714287rem;
}
.size14 {
  font-size: 1rem;
}
.size15 {
  font-size: 1.0714285714285714rem;
}
.size16 {
  font-size: 1.142857142857143rem;
}
.size18 {
  font-size: 1.2857142857142858rem;
}
.size20 {
  font-size: 1.4285714285714286rem;
}
.size24 {
  font-size: 1.7142857142857144rem;
}
.size26 {
  font-size: 1.8571428571428574rem;
}
.lineheight-10 {
  line-height: 1;
}
.lineheight-14 {
  line-height: 1.4;
}
.lineheight-18 {
  line-height: 1.8;
}
.lineheight-20 {
  line-height: 2;
}
.fx100 {
  width: 100px;
}
.fx150 {
  width: 150px;
}
.fx200 {
  width: 200px;
}
.fx250 {
  width: 250px;
}
.fx300 {
  width: 300px;
}
.fx350 {
  width: 350px;
}
.fx400 {
  width: 400px;
}
.fx450 {
  width: 450px;
}
.pc10 {
  width: 10%;
}
.pc25 {
  width: 25%;
}
.pc33 {
  width: 33%;
}
.pc50 {
  width: 50%;
}
.pc60 {
  width: 60%;
}
.pc100 {
  width: 100%;
}
.pch100 {
  height: 100%;
}
.mx200 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}
.mx300 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.mx400 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.mx500 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.mx600 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.mx650 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
.mx700 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.mx750 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.mx800 {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
label > sup {
  top: -5px;
  color: #EF6030;
}
.ul-li-type-1 li {
  margin-bottom: 1.0714285714285714rem;
}
em,
.em,
.form-group .onerror {
  font-family: 'Lora', serif;
  font-weight: 400;
}
tr.inactive > td {
  background-color: #eee;
}
.label-container > span {
  margin-bottom: 0.7142857142857143rem;
  display: inline-block;
  line-height: normal;
}
.label-container > span + span {
  margin-left: 0.7142857142857143rem;
}
.label-container span a {
  margin-left: 0.35714285714285715rem;
  color: white;
}
.label-container span a:hover {
  text-decoration: none;
}
a.sortables {
  cursor: pointer;
}
a.sortables:focus,
a.sortables:hover {
  text-decoration: none;
}
.lb_busy_pop {
  margin-top: -1.7857142857142858rem;
  margin-left: -2.142857142857143rem;
  -moz-box-shadow: 0 0 2px #54CF2A;
  -webkit-box-shadow: 0 0 2px #54CF2A;
  box-shadow: 0 0 2px #54CF2A;
  top: 30%;
  left: 50%;
  border: 1px solid #54CF2A;
  border-radius: 10px;
}
.lboverlay {
  background: rgba(0, 0, 0, 0.2);
}
.lb-scrollbar::-webkit-scrollbar-track,
.existing-categories::-webkit-scrollbar-track {
  background: transparent;
}
.lb-scrollbar::-webkit-scrollbar,
.existing-categories::-webkit-scrollbar {
  width: 4px;
}
.lb-scrollbar::-webkit-scrollbar-thumb,
.existing-categories::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
}
.lb-scrollbar::-webkit-scrollbar-thumb::-webkit-scrollbar-thumb:hover,
.existing-categories::-webkit-scrollbar-thumb::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
.split-lines {
  white-space: nowrap;
  display: table;
  width: 100%;
  overflow: hidden;
}
.split-lines:after,
.split-lines:before {
  content: '';
  display: table-cell;
  width: 50%;
  position: relative;
  top: 0.5em;
  border-top: 1px solid #B9B9AF;
}
.split-lines:after {
  left: 10px;
}
.split-lines:before {
  right: 10px;
}
.bullets {
  font-size: 30px;
  vertical-align: -8px;
  line-height: 10px;
}
a.inherit {
  color: inherit;
  text-decoration: none;
}
.fullon-a {
  display: block;
}
label.fa-label .fa {
  font-size: 1.2857142857142858rem;
  position: relative;
  margin-right: 0.35714285714285715rem;
  top: 2px;
}
label.fa-label > input {
  display: none;
  outline: none;
}
label.fa-label > input:checked + .fa-circle-o:before {
  content: "\f192";
  color: #008c77 !important;
}
label.fa-label > input:checked + .fa-square-o:before {
  content: "\f046";
  color: #008c77 !important;
}
label.fa-label .fa-square-o {
  width: 17px;
}
.btn-lb {
  color: white;
  background-color: #4AB740;
  border-color: #4AB740;
  border-radius: 2px;
}
.btn-lb:hover,
.btn-lb:active,
.btn-lb:focus {
  color: white;
  background-color: #119005;
  border-color: #119005;
}
.btn-lb[disabled]:hover {
  background-color: rgba(17, 144, 5, 0.7);
  border-color: rgba(17, 144, 5, 0.7);
}
.btn-lb-o {
  color: white;
  background-color: #EF6030;
  border-color: #EF6030;
  border-radius: 2px;
}
.btn-lb-o:hover,
.btn-lb-o:active,
.btn-lb-o:focus {
  color: white;
  background-color: #f54105;
  border-color: #f54105;
}
.btn-lb-o[disabled]:hover {
  background-color: rgba(245, 65, 5, 0.7);
  border-color: rgba(245, 65, 5, 0.7);
}
.btn-black {
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 2px;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  color: white;
  background-color: #333;
  border-color: #111;
}
.btn-black[disabled]:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}
.btn-neg {
  color: #555;
  background-color: #ddd;
  border: 1px solid #d0d0d0;
}
.btn-neg:hover,
.btn-neg:active,
.btn-neg:focus {
  color: #333;
  background-color: #D5D5D5;
}
.btn-neg[disabled]:hover {
  color: #777;
}
.btn-lb-w {
  padding: 11px 0;
  width: 210px;
  max-width: 100%;
}
.page-level-alert {
  top: 11%;
  margin-left: -150px;
  z-index: 100;
  width: 300px;
  left: 50%;
}
@media (min-width: 768px) {
  .page-level-alert {
    margin-left: -250px;
    width: 500px;
  }
}
.help-block.help-error {
  display: none;
}
.has-error .help-block.help-error {
  display: block;
}
.lb-success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
.lb-error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}
/***** Common Styles Ends*/
/***NG Animation Styles*/
.animate.ng-move,
.animate.ng-enter,
.animate.ng-leave,
.animate.ng-hide {
  -webkit-transition: 0.5s linear all;
  /* Chrome */
  transition: 0.5s linear all;
}
.animate.ng-leave.ng-leave-active,
.animate.ng-move,
.animate.ng-enter,
.animate.ng-hide {
  opacity: 0;
}
.animate.ng-leave,
.animate.ng-move.ng-move-active,
.animate.ng-enter.ng-enter-active {
  opacity: 1;
}
/***NG Animation Styles End*/
/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
  color: #ddd;
  /* Hide radio */
  /* Order correctly by floating highest to the right */
  /* Half star trick */
  /* Click + hover color */
  /* color current and previous stars on checked */
}
.rate input {
  display: none;
}
.rate label {
  float: right;
  margin-bottom: 0;
  /* The star of the show */
}
.rate label:before {
  display: inline-block;
  font-size: inherit;
  padding: 0.3rem 0.2rem 0;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 ";
  /* full star */
}
.rate .half:before {
  content: "\f089 ";
  /* half star no outline */
  position: absolute;
  padding-right: 0;
}
.rate label.checked,
.rate label.checked ~ label {
  color: #73B100;
}
.rate.rate-able {
  /* Click + hover color */
  /* color previous stars on hover */
  /* Hover highlights */
}
.rate.rate-able label.checked,
.rate.rate-able label.checked ~ label,
.rate.rate-able label:hover,
.rate.rate-able label:hover ~ label {
  color: #73B100;
}
.rate.rate-able label.checked:hover,
.rate.rate-able label.checked:hover ~ label,
.rate.rate-able label.checked ~ label:hover,
.rate.rate-able label.checked ~ label:hover ~ label,
.rate.rate-able label:hover ~ label.checked,
.rate.rate-able label:hover ~ label.checked ~ label {
  color: #A6E72D;
}
.rating-wrapper .review-count {
  vertical-align: 4px;
}
.rating-wrapper .s2 {
  width: 86px;
  height: 18px;
  background-position: 1px 0;
}
.rating-wrapper .rating-2 {
  background-position: -66px 0;
}
.rating-wrapper .rating-4 {
  background-position: -49px 0;
}
.rating-wrapper .rating-6 {
  background-position: -33px 0;
}
.rating-wrapper .rating-8 {
  background-position: -16px 0;
}
.rating-wrapper .rating-10 {
  background-position: 1px 0;
}
.rating-wrapper .rating-1 {
  background-position: -66px -20px;
}
.rating-wrapper .rating-3 {
  background-position: -49px -20px;
}
.rating-wrapper .rating-5 {
  background-position: -33px -20px;
}
.rating-wrapper .rating-7 {
  background-position: -16px -20px;
}
.rating-wrapper .rating-9 {
  background-position: 1px -20px;
}
.lb-fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.svg-wrapper {
  display: inline-block;
}
.svg-wrapper svg {
  fill: currentColor;
}
/***** Sprites *****/
.s1,
.ns1,
.ppg,
.s2 {
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
}
.s1 {
  background-image: url(//s.d2dprnt.com/img/sprites/s1.png?v002);
}
.ns1 {
  background-image: url(//s.d2dprnt.com/imgs/sprites/ns1.png);
}
.ppg {
  background-image: url(//s.d2dprnt.com/imgs/sprites/ppg.jpg);
}
.s2 {
  background-image: url(//lbrit.co/static/imgs/sprite/s2.png);
}
/***** Sprites Ends*/
/*    Type setting Ends     */
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 13px;
}
@media (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}
body {
  font-size: 13px;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
/*h1,h2,h3,h4,h5,h6{.marg-t(0);}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0!important;
}
strong,
b,
dt,
th,
label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
a:hover {
  color: #008c77;
}
a:active {
  color: #008c77;
}
hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
ul,
ol {
  list-style: none;
  padding-left: 0rem;
}
ul.styled {
  list-style: disc;
  margin: 0 0 1rem 2rem;
}
ol.styled {
  list-style: decimal;
  margin: 0 0 1rem 2rem;
}
.bs-sdevice {
  display: block;
}
@media (min-width: 768px) {
  .bs-sdevice {
    display: none;
  }
}
.bs-ldevice {
  display: none;
}
@media (min-width: 768px) {
  .bs-ldevice {
    display: block;
  }
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}
.radio .control-label,
.checkbox .control-label,
.radio-inline .control-label,
.checkbox-inline .control-label {
  padding-top: 0 !important;
  position: relative;
  top: -0.215rem;
  /*3px*/
}
/*Bootstrap*/
.form-group .onerror {
  display: none;
  margin-top: 0;
}
.form-group.has-error .onerror {
  display: block;
}
.form-control {
  border-radius: 2px;
  border-color: #ddd;
}
.breadcrumb {
  font-size: 0.8571428571428572rem;
  background: none;
  padding-left: 0;
}
.page-container > .breadcrumb {
  padding-top: 0;
}
/* Bootstrap Angular UI Styles*/
.nav,
.pagination,
.panel-title a {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1230px;
}
/*Angular JS*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
[ng-click] {
  cursor: pointer;
}
/* PNotify*/
@media (max-width: 480px) {
  .ui-pnotify-mobile-able.ui-pnotify {
    font-size: 1rem;
  }
}
.ui-pnotify{top:36px;right:36px;position:absolute;height:auto;z-index:2}body>.ui-pnotify{position:fixed;z-index:100040}.ui-pnotify-modal-overlay{background-color:rgba(0,0,0,.4);top:0;left:0;position:absolute;height:100%;width:100%;z-index:1}body>.ui-pnotify-modal-overlay{position:fixed;z-index:100039}.ui-pnotify.ui-pnotify-in{display:block!important}.ui-pnotify.ui-pnotify-move{transition:left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}.ui-pnotify.ui-pnotify-fade-slow{transition:opacity .6s linear;opacity:0}.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move{transition:opacity .6s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}.ui-pnotify.ui-pnotify-fade-normal{transition:opacity .4s linear;opacity:0}.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{transition:opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}.ui-pnotify.ui-pnotify-fade-fast{transition:opacity .2s linear;opacity:0}.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move{transition:opacity .2s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}.ui-pnotify.ui-pnotify-fade-in{opacity:1}.ui-pnotify .ui-pnotify-shadow{-webkit-box-shadow:0 6px 28px 0 rgba(0,0,0,.1);-moz-box-shadow:0 6px 28px 0 rgba(0,0,0,.1);box-shadow:0 6px 28px 0 rgba(0,0,0,.1)}.ui-pnotify-container{background-position:0 0;padding:.8em;height:100%;margin:0}.ui-pnotify-container:after{content:" ";visibility:hidden;display:block;height:0;clear:both}.ui-pnotify-container.ui-pnotify-sharp{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.ui-pnotify-title{display:block;margin-bottom:.4em;margin-top:0}.ui-pnotify-text{display:block}.ui-pnotify-icon,.ui-pnotify-icon span{display:block;float:left;margin-right:.2em}.ui-pnotify.stack-bottomleft,.ui-pnotify.stack-topleft{left:25px;right:auto}.ui-pnotify.stack-bottomleft,.ui-pnotify.stack-bottomright{bottom:25px;top:auto}.ui-pnotify.stack-modal{left:50%;right:auto;margin-left:-150px}.ui-pnotify-closer,.ui-pnotify-sticker{float:right;margin-left:.2em}.ui-pnotify-container{position:relative;left:0}@media (max-width:480px){.ui-pnotify-mobile-able.ui-pnotify{position:fixed;top:0;right:0;left:0;width:auto!important;font-size:1.2em;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;font-smoothing:antialiased}.ui-pnotify-mobile-able.ui-pnotify .ui-pnotify-shadow{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-bottom-width:5px}.ui-pnotify-mobile-able .ui-pnotify-container{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft,.ui-pnotify-mobile-able.ui-pnotify.stack-topleft{left:0;right:0}.ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft,.ui-pnotify-mobile-able.ui-pnotify.stack-bottomright{left:0;right:0;bottom:0;top:auto}.ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft .ui-pnotify-shadow,.ui-pnotify-mobile-able.ui-pnotify.stack-bottomright .ui-pnotify-shadow{border-top-width:5px;border-bottom-width:1px}}
/* header */
header {
  margin-top: 0.7142857142857143rem;
}
header .navbar-brand {
  padding: 0.7142857142857143rem;
  padding-left: 0;
  height: auto;
  margin-left: 0 !important;
}
header .navbar-brand img {
  width: 4.7rem;
}
/* header Ends */
/* body */
body {
  padding-bottom: 2.428571428571429rem;
}
/* body Ends */
/* Footer */
header ~ footer {
  position: fixed;
  padding: 0.7142857142857143rem;
  bottom: 0px;
  background: white;
  box-shadow: 0 0 11px -4px rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  z-index: 10;
}
/* footer Ends */
/* File Upload Popup */
.pop-gallery-overlay {
  z-index: 99;
  overflow: auto;
}
.pop-gallery {
  top: 10%;
  width: 90%;
  min-height: 200px;
  left: 50%;
  margin-left: -45%;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .pop-gallery {
    width: 60%;
    margin-left: -30%;
  }
}
.fgw-file-selector .progress-wrapper {
  max-width: 700px;
}
.fgw-file-list > ul {
  max-height: 300px;
  overflow-y: auto;
  margin: 0 -5px;
}
.fgw-file-list > ul > li {
  float: left;
  width: 150px;
  padding: 5px;
  margin: 5px;
  height: 150px;
  border: 3px solid #f1f1f1;
}
.fgw-file-list > ul > li div {
  overflow: hidden;
  height: 115px;
}
.fgw-file-list > ul > li a {
  display: block;
  overflow: hidden;
}
.fgw-file-list > ul > li img {
  max-width: 100%;
  max-height: 100%;
}
.fgw-file-list > ul > li small {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 80%;
}
.fgw-file-list li.selected {
  border: 3px solid #15A7FD;
  position: relative;
}
.fgw-drop-box {
  border: 3px dashed #ddd;
}
.fgw-drop-box.dragover {
  border: 3px dashed blue;
}
/* File Upload Ends */
.accent {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.142857142857143rem;
  line-height: 2;
}
.orders-container .accent:hover {
  color: #EF6030 !important;
}
.admin-subnav {
  margin-bottom: 2.142857142857143rem;
}
.admin-subnav .nav-pills > li + li:before {
  content: "|";
  position: relative;
  float: left;
  top: 9px;
  left: -5.5px;
  color: #ccc;
}
.customer-details dt {
  font-weight: 400;
  margin-bottom: 5px;
}
.admin-editor {
  padding: 0.7142857142857143rem;
  padding-bottom: 2.857142857142857rem;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.admin-editor-container {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.5);
}
.mypanel-collapsed .fa-caret-right:before {
  content: "\f0d7";
}
.add-category-popup {
  z-index: 11;
}
.add-category-popup > div {
  max-width: 550px;
}
.product-default-attr a:after {
  font-size: 0.8571428571428572rem;
  content: 'Set as Default Attr';
}
.product-default-attr .glyphicon-ok {
  display: none;
}
.product-default-attr.active a:after {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  content: ' Default Attr';
  color: #4cae4c;
}
.product-default-attr.active .glyphicon-ok {
  display: inline;
}
.product-default-attr a:focus {
  text-decoration: none;
}
nav#pagination-nav > pre {
  float: left;
  margin-top: 21px;
  margin-right: 10px;
  padding: 5px;
}
.existing-categories {
  max-height: 400px;
  overflow-y: scroll;
}
.thumbnail-holder {
  height: 150px;
  width: 150px;
  margin: 0 -2px;
}
.thumbnail-holder img {
  margin: 2px;
}
.imgalt-holder li {
  display: inline-block;
  width: 70px;
  margin: 1px;
  position: relative;
}
.imgalt-holder li a {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: white;
}
.imgalt-holder li.video-li {
  display: block;
  width: auto;
}
.imgalt-holder img {
  max-width: 100%;
}
/*Order Details*/
.pop-gallery.ord-dtls-gallery {
  background: transparent;
}
/*Coupon Details*/
#addCouponModal .help-block {
  font-size: 0.8571428571428572rem;
}
/* Control Records */
.control-params-holder input.form-control {
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #999;
  background-color: transparent;
  color: #118DC7 !important;
  font-size: 0.9285714285714287rem;
  height: auto;
}
/*Product Reviews*/
.admin-reviews {
  padding: 8px;
  border-radius: 3px;
}
.admin-reviews.declined-review {
  background: #FBE9E7;
}
.admin-reviews.new-review {
  background: #FFFDE7;
}
.admin-reviews img.fit {
  max-width: 150px;
}
/*SEO Elements*/
.seoelement-wrapper > li {
  line-height: 1.6;
}
.seoelement-wrapper > li .product {
  color: #008c77 !important;
}
.seoelement-wrapper > li .category {
  color: #EF6030 !important;
}
/*Admin memos*/
.memos-wrapper {
  padding-left: 2.857142857142857rem;
  padding-right: 2.857142857142857rem;
  padding-top: 1.4285714285714286rem;
  border-top: 2px solid #ccc;
}
.memos-wrapper .memos {
  font-size: 0.9285714285714287rem;
  text-align: right;
  padding: 0.7142857142857143rem;
}
.memos-wrapper .memos:nth-of-type(odd) {
  background-color: #f9f9f9;
}
/* CMS Pages */
.slide-holder {
  height: 150px;
  margin: 0 -2px;
}
.slide-holder img {
  margin: 2px;
}
.slider-info-img img {
  margin-bottom: 0.7142857142857143rem;
}
