<div class="cart-totals" ng-controller="cartCouponCtrlr">
	<h4>Order Summary</h4>
	<table class="table cart-summary size13">
		<tbody>
			<tr>
				<td>Items</td>
				<td class="text-right">{{m.order.subTotal | currency}}</td>
			</tr>
			<tr ng-if="m.order.subTotal > m.order.total">
				<td>Discount</td>
				<td class="text-right">{{(m.order.subTotal - m.order.total) |
					currency}}</td>
			</tr>

			<tr>
				<td>Tax</td>
				<td class="text-right">{{m.order.tax | currency}}</td>
			</tr>
			<tr>
				<td colspan="2"><hr /></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>TOTAL</th>
				<th class="text-right">{{m.order.total | currency}}</th>
			</tr>

			<tr ng-if="m.order.subTotal > m.order.total">
				<th colspan="2" class="text-right orange1 size16"><em>(You just
						saved {{(m.order.subTotal - m.order.total) | currency}})</em></th>
			</tr>
		</tfoot>
	</table>

	<div class="cart-tax-info size12"
		ng-if="m.order.orderTax && m.order.orderTax.taxComponents">
		<h5 class="marg-b0">Tax Breakdown</h5>
		<div class="marg-b05">
			<em>Taxes will be applicable from Jan 1st, 2018.</em>
		</div>
		<table class="table table-condensed">
			<tbody>
				<tr class="cart-taxcomponents"
					ng-repeat="comp in m.order.orderTax.taxComponents">
					<td>{{comp.description}} ({{comp.rate}}%)</td>
					<td class="text-right">{{comp.value | currency}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr ng-if="m.order.orderTax.applicableTax">
					<td>Total Tax</td>
					<td class="text-right">{{m.order.orderTax.applicableTax |
						currency}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>