<div class="cart-totals" ng-controller="cartCouponCtrlr">
	<h4>Order Summary</h4>
	<table class="table cart-summary size13">
		<tbody>
			<tr>
				<td>Items</td>
				<td class="text-right">{{m.order.subTotal | currency}}</td>
			</tr>
			<tr ng-if="m.order.subTotal > m.order.total">
				<td>Discount</td>
				<td class="text-right">{{(m.order.subTotal - m.order.total) |
					currency}}</td>
			</tr>
			<tr>
				<td colspan="2"><hr /></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>TOTAL</th>
				<th class="text-right">{{m.order.total | currency}}</th>
			</tr>

			<tr ng-if="m.order.subTotal > m.order.total">
				<th colspan="2" class="text-right orange1 size16"><em>(You just
						saved {{(m.order.subTotal - m.order.total) | currency}})</em></th>
			</tr>
		</tfoot>
	</table>
</div>