<div ng-controller="cartItemCtrlr">

	<div class="cart-details" ng-hide="m.emptyCart">
		<h4 class="cart-steps">Step1: Review Your Cart</h4>

		<div class="alert alert-danger" ng-if="!m.orderAboveOrderMin">
			Minimum order value should should be <strong>{{m.orderMin|currency}}</strong>
		</div>


		<div class="cart-details-body">
			<ul>
				<li class="item-li" ng-repeat="item in m.order.lineItems"
					ng-if="item.type=='item'" ng-hide="!item.instock">
					<div class="item-thumb">
						<img ng-if="item.img" ng-src="{{lbGlobalCDNPath + item.img}}"
							class="fit" />
					</div>

					<div class="item-info">
						<h5>{{item.name}}</h5>
						<div ng-repeat="spec in item.specs"
							class="size13 grey7 capitalize">
							<em>{{spec.attr}}</em>: {{spec.value}}
						</div>
						<div class="grey7">
							<del ng-if="item.cost>item.price">{{item.cost | currency}}</del>
							<span class="bold">{{item.price | currency}}</span>
						</div>
						<div ng-if="item.promo == 'doubledownoffer'" class="orange1 size13">Double
							down offer</div>
						<div ng-if="item.promo == 'firsttimepatient'" class="orange1 size13">First
							time patient offer</div>
						<div ng-if="item.promo == 'fifthflower'" class="orange1 size13">Holiday
							special offer</div>
						<div ng-if="item.promo == 'waxpromo'" class="orange1 size13">Waxpromo offer</div>
						<div ng-if="item.promo == 'freepowerpuff'" class="orange1 size13">Free Power Puff Offer</div>
					</div>
					
					<div class="item-qty item-qty-ctrls">
						Qty: <span ng-if="item.notEditable">1</span><span class="nowrap"><span
							ng-if="!item.notEditable"><a href="" ng-hide="item.qty==1"
								ng-click="qtyMinus()"><i class="fa fa-minus-square"
									aria-hidden="true"></i></a><a href="" ng-show="item.qty==1"><i
									class="fa fa-minus-square disabled" aria-hidden="true"></i></a><span>{{item.qty}}</span><a
								href="" ng-click="qtyPlus()"><i
									class="fa fa-plus-square" aria-hidden="true"></i></a></span></span>
					</div>

					<div class="item-price">
						<strong>{{item.price*item.qty | currency}}</strong>
					</div>
					
					<div class="item-remove" ng-hide="item.productId == '11939' || item.productId == '11951'">
						<a href="" ng-click="itemRemove()">Delete Item</a>
					</div>
				</li>

				<li class="item-li" ng-if="m.freeGramPromo"
					ng-include="'/resources/ng-templates/cart/free-gram.html'"></li>

				<li class="item-li offhouritem" ng-if="itsOffHour"
					ng-include="'/resources/ng-templates/cart/off-hour-item.html?v002'"></li>
			</ul>
		</div>
		<!-- .cart-details-body ends -->

	</div>



	<div class="cart-details"
		ng-hide="m.emptyCart || !m.orderAboveOrderMin">
		<h4 class="cart-steps">Step2: Apply Promotions</h4>

		<div class="mx600 marg-b3">
			<div ng-if="!m.user._id">
				<div class="marg-t2 well">
					Have a coupon code? Looking for available promotions? Please <a
						href="/login?ret=/cart">Log In</a> to your account.
				</div>
			</div>

			<div ng-if="m.user._id">

				<div class="marg-b25 appliedpromos-tab" ng-if="m.offersApplied">
					<div class="applied-coupons marg-b2">
						<h5>Promotions Applied</h5>
						<div class="marg-l1" ng-repeat="item in m.sales">
							<em class="green1">{{item.name}} (-{{item.price |
								currency}})</em>
						</div>
						<div class="marg-l1" ng-repeat="item in m.order.lineItems"
							ng-if="item.type=='coupon'">
							<em>Promocode <span class="green1">{{item.name}}
									(-{{item.price | currency}})</span> <a href=""
								ng-click="removeCoupon()" title="Remove Coupon"><i
									class="fa fa-trash-o marg-l1" aria-hidden="true"></i></a></em>
						</div>
					</div>
				</div>
				

				<div ng-show="m.showPromoTab" class="avaliablepromos-tab pad-t2">
					<div class="marg-b2">
						<h5 class="marg-b05">Congratulations, you are eligible to
							select <span class="orange1">one</span> of the following promos.</h5>
						<div ng-if="m.offersApplied" class="size13 grey3">
							<strong>Note:</strong> <em>Applying any of the available
								promotions will remove already applied promotion</em> <em
								class="marg-r1 size13 u"
								ng-if="m.couponApplied && m.appliedCouponCode">(Coupon
								'{{m.appliedCouponCode}}' will be removed)</em> <em
								class="marg-r1 size13 u" ng-if="m.briteBoxApplied">(Britebox
								will be removed)</em> <em class="marg-r1 size13 u"
								ng-if="m.doubleDownApplied">(Double down promotion will be
								removed)</em> <em class="marg-r1 size13 u"
								ng-if="m.fifthFlowerApplied">(Holiday promotion will be
								removed)</em>
						</div>
					</div>

					<div class="pad2" ng-show="couponErrors">
						<div class="alert alert-warning" role="alert">
							<button type="button" class="close"
								aria-label="Close" ng-click="clearCouponErrorMsg()">
								<span aria-hidden="true">&times;</span>
							</button>
							<span ng-bind-html="couponErrors"></span>
						</div>
					</div>

					<div class="cart-promo-options"
						ng-show="m.briteBoxEligible && (m.order.total >= m.briteBoxThreshold)"
						ng-class="{'promoSelected' : m.promoOptions == 'firsttimepatient'}">

						<label class="fa-label"><input type="radio"
							name="promoOptions" ng-model="m.promoOptions"
							value="firsttimepatient" /><i class="fa fa-circle-o"
							aria-hidden="true"></i> First time patient gift - Britebox - <span
							class="orange1">$50 value.</span></label>

						<div class="cart-promo-details">
							<div class="cart-offers-bb">
								<div class="row">
									<div class="col-sm-4 m-marg-b2">
										<img class="fit"
											src="https://lbrit.co/static/imgs/uploads/2016/02/new-brite-box-t.png"
											alt="welcome-kit" />
									</div>
									<div class="col-sm-8">
										<div class="marg-b2">
											Your first donation meets the $75 goal, earning you our
											exclusive Brite Box.

											<div class="text-center pad-t2">
												<button class="btn btn-lb btn-sm" ng-click="addbriteBox()">Apply
													Promotion</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					
					<div class="cart-promo-options"
						ng-show="m.fifthFlowerActive && !m.fifthFlowerApplied && (m.flowerCount >= 4)"
						ng-class="{'promoSelected' : m.promoOptions == 'fifthflower'}">

						<label class="fa-label"><input type="radio"
							name="promoOptions" ng-model="m.promoOptions"
							value="fifthflower" /><i class="fa fa-circle-o"
							aria-hidden="true"></i> Holiday Promo - Fifth flower free - <span
							class="orange1">$45 value.</span></label>

						<div class="cart-promo-details">
							<div class="cart-offers-bb">
								<h4 class="text-center">HOLIDAY SPECIAL!</h4>
								<div class="size13">
									Order 4 units of any flower and get a 5th select unit free!
									Luvbrite will choose the free unit of flower and include in the
									qualifying purchase. Valid while supplies last or until deemed
									void.

									<div class="text-center pad-t2">
										<button class="btn btn-lb btn-sm" ng-click="addFifthFlower()">Apply
											Promotion</button>
									</div>
								</div>
							</div>

						</div>
					</div>



					<div class="cart-promo-options"
						ng-show="m.doubleDownEligible && (m.order.total >= m.config.doubleDown)"
						ng-class="{'promoSelected' : m.promoOptions == 'doubledown'}">

						<label class="fa-label"><input type="radio"
							name="promoOptions" ng-model="m.promoOptions" value="doubledown" /><i
							class="fa fa-circle-o" aria-hidden="true"></i> Double Down - <span
							class="orange1">$20 value</span></label>

						<div class="cart-promo-details"
							ng-if="m.doubleDownEligible && !m.doubleDownApplied"
							class="marg-b2">
							<div class="text-center">
								<h4>
									DOUBLE DOWN OFFER <a href="" data-toggle="modal"
										data-target="#doubleDownModal" class="inherit marg-l1"><i
										class="fa fa-info-circle" aria-hidden="true"></i></a>
								</h4>
								<h5>You are eligible to select a free gift</h5>
							</div>

							<div class="marg-b2 size12 grey7">Choose one of the
								following products to be added to your order. Item selected will
								be received through the same method/location specified in your
								order's delivery details. Cancelling or changing order
								specifications prior to or post order confirmation may result in
								forfeiture of selected gift.</div>

							<ul class="cart-doubledown text-center">
								<li ng-repeat="prd in m.ddprds"><a href=""
									ng-href="{{'/product/' + prd.url}}"><img
										ng-if="prd.featuredImg"
										ng-src="{{lbGlobalCDNPath + prd.featuredImg.replace('.jpg','-150x150.jpg')}}"
										class="fit" /> <small>{{prd.name}}</small><small class="show"
										ng-if="prd.variationName"> <span class="capitalize">{{prd.variationName}}:
												<em>{{prd.variationValue}}</em>
										</span>
									</small> </a> <span><a href=""
										ng-click="addDoubleDown()" class="btn btn-xs btn-lb">ADD
											TO CART</a></span></li>
							</ul>
						</div>
					</div>

					<div class="cart-promo-options" ng-show="m.promosAvailable"
						ng-class="{'promoSelected' : m.promoOptions == 'loyalist'}">
						<label class="fa-label"><input type="radio"
							name="promoOptions" ng-model="m.promoOptions" value="loyalist" /><i
							class="fa fa-circle-o" aria-hidden="true"></i> Use my loyalist coupon - <span
							class="orange1">$10 discount</span></label>

						<div class="cart-promo-details">
							<div class="marg-l1" ng-repeat="promo in promos">
								<strong class="orange1">{{promo}}</strong> <a href=""
									ng-click="useThisCoupon()">Use</a>
							</div>

						</div>
					</div>

					<div class="cart-promo-options" ng-hide="m.couponApplied"
						ng-class="{'promoSelected' : m.promoOptions == 'coupon'}">
						<label class="fa-label"><input type="radio"
							name="promoOptions" ng-model="m.promoOptions" value="coupon" /><i
							class="fa fa-circle-o" aria-hidden="true"></i> Apply another
							promo code or coupon</label>
						
						<div class="cart-promo-details">
							<h6>Add Gift or Promo Code</h6>
							<form ng-submit="applyCoupon()" name="promoForm"
								class="cart-promo-form">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control"
										placeholder="Enter promo code" ng-model="m.couponCode" /><span
										class="input-group-btn">
										<button class="btn btn-sm btn-lb" type="submit">Apply</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div ng-show="!m.showPromoTab && m.briteBoxApplied">
					<div class="alert alert-warning">
						<i class="fa fa-bullhorn fa-2x pull-left" aria-hidden="true"></i>
						Other promotions are disabled because <strong>Britebox</strong>,
						our best promotion is currently applied to your order. If you
						still would like to apply a coupon, please remove <strong>Britebox</strong>
						from the cart and options to apply coupon will reappear.
					</div>
				</div>
			</div>
		</div>
		

		<div ng-if="m.orderAboveOrderMin && m.user._id">

			<div class="alert alert-info text-center"
				ng-if="m.briteBoxEligible && (m.order.total < m.briteBoxThreshold)">
				<div class="row">
					<div class="col-sm-4 m-marg-b2">
						<img class="fit"
							src="https://lbrit.co/static/imgs/uploads/2016/02/new-brite-box-t.png"
							alt="welcome-kit" />
					</div>
					<div class="col-sm-8">
						<h5>You're {{(m.briteBoxThreshold - m.order.total) |
							currency}} away from qualifying for a "Brite Box"!</h5>
						<div class="marg-b2">
							Seeing as this is your first order with us, you could qualify for
							our first time patient gift &ndash; the "Brite Box" if your total
							reaches {{m.briteBoxThreshold | currency}}. <a href="" data-toggle="modal"
						data-target="#britebox" class="inherit u">Offer
						details.</a></div>
					</div>
				</div>
			</div>


			<div class="alert alert-info text-center"
				ng-if="!m.briteBoxApplied && m.doubleDownEligible && (m.order.total < m.config.doubleDown)">
				<h5>You're {{(m.config.doubleDown - m.order.total) | currency}} away
					from qualifying for Double Down Offer!</h5>
				<div>
					 You have an opportunity to select a <strong>FREE</strong> item ($20 value) when you
					<strong>double down</strong>! <a href="" data-toggle="modal"
						data-target="#doubleDownModal" class="inherit u">Offer
						details.</a>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="visible-xs" ng-hide="m.emptyCart"
	ng-include="'/resources/ng-templates/cart/coupon.html' + '?' + Math.random()"></div>