<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Error Reported</title>
<meta th:include="fragments/layout::fragment-head" />
</head>
<body>
	<div th:replace="fragments/layout::#fragment-header"></div>
	<div class="container">
		<h1>
			Hi <span class="capitalize" th:text="${userName}"></span>
		</h1>
		<div class="well" th:text="${msg}">
			There was some error accessing this page. Please try logging back in
			to the system by clicking <a href="/login">here</a>
		</div>
		<form id="form-1" method="post" action="/logout">
			<input type="hidden" id="_lb_sec_tok"
				th:name="*{_csrf.parameterName}" th:value="${_csrf.token}" />
			<button class="btn btn-info" type="submit">Logout</button>
		</form>
	</div>
	<div th:replace="fragments/layout::#fragment-footer"></div>
	<div th:include="fragments/layout::#fragment-foot(angular=false)"></div>
</body>
</html>