<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>404 - Page not found</title>
<meta th:include="fragments/layout::fragment-head" />
</head>
<body class="bg-greyF9">
	<div th:replace="fragments/layout::fragment-header"></div>
	<div class="container page-container">
		<div class="generic-container jumbotron">
			<h1 class="text-center">4<span class="orange1">0</span>4</h1>
			<div class="text-center">
				The page you were looking was not found. Please <a href="/">click
					here</a> to go back to the home page.
			</div>
		</div>
	</div>
	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:include="fragments/layout::fragment-foot(angular=false)"></div>
</body>
</html>