<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Cart</title>
<meta th:include="fragments/layout::fragment-head" />

</head>
<body ng-app="lbApp" ng-controller="cartCtrlr" class="bg-greyF9 cartPage">
	<div th:replace="fragments/layout::fragment-header(extn=false)"></div>
	<div class="container page-container rel ng-cloak">
		
		<div class="cart-details" ng-if="cartLoading">
			<h4 class="text-center">
				<i class="fa fa-cog fa-spin fa-3x fa-fw"></i> <span class="sr-only">Loading...</span>
			</h4>
		</div>
				
		<div class="cart-details" ng-if="emptyCart" ng-hide="cartLoading">
			<h4 class="text-center">Shopping cart is empty!</h4>
		</div>

		<div class="row" ng-hide="cartLoading || emptyCart">

			<div class="col-sm-8">
				<div class="cart-content">
					<div class="bg-white marg-b3" th:if="not ${userId}">
						<div class="pad-v3 pad-h4 row">
							<div class="col-sm-6 marg-t1">
								<em class="size16">Do you have an account with us?</em>
							</div>
							<div class="col-sm-6 text-right">
								<a href="/login?ret=/cart" class="btn btn-lb btn-lb-w">Log In</a>
							</div>
						</div>
					</div>

					<div class="cart-details">
						<h4 class="cart-steps">Step1: Review Your Cart</h4>
						<div class="cart-details-body">
							<ul>
								<li class="item-li" ng-repeat="item in order.lineItems"
									ng-if="item.type=='item'" ng-hide="!item.instock">
									<div class="item-thumb">
										<img ng-if="item.img" ng-src="/files/view/{{item.img}}"
											class="fit" />
									</div>

									<div class="item-info">
										<h6>{{item.name}}</h6>
										<div ng-repeat="spec in item.specs"
											class="size12 grey7 capitalize">
											<em>{{spec.attr}}</em>: {{spec.value}}
										</div>
										<div class="grey7">
											<del ng-if="item.cost>item.price">{{item.cost |
												currency}}</del>
											<span class="bold">{{item.price | currency}}</span>
										</div>
									</div>
									<div class="item-qty">
										Qty: <input type="number" min="1" step="1" ng-model="item.qty"
											class="form-control" ng-change="updateCart()" />
									</div>
									<div class="item-remove">
										<a href="" ng-click="itemRemove()">Remove</a>
									</div>
								</li>
							</ul>
						</div>

					</div>

					<div class="cart-details">
						<h4 class="cart-steps">Step2:
							Delivery Address</h4>

						<div class="cart-address" ng-hide="addressValidated">
							<form name="cartAddress" ng-submit="saveDeliveryAddress()">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label class="control-label">First Name<sup>*</sup></label> <input
												type="text" class="form-control" required="required"
												ng-model="user.billing.firstName"
												ng-blur="formElemValidate()" />
											<p class="help-block onerror">First Name is required</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label class="control-label">Last Name<sup>*</sup></label> <input
												type="text" class="form-control" required="required"
												ng-blur="formElemValidate()"
												ng-model="user.billing.lastName" />
											<p class="help-block onerror">Last Name is required</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label class="control-label">Phone<sup>*</sup></label> <input
												type="text" class="form-control" ng-model="user.billing.phone"
												required="required" ng-blur="formElemValidate()" />
											<p class="help-block onerror">Phone number is required</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-8">
										<div class="form-group">
											<label class="control-label">Address<sup>*</sup></label> <input
												type="text" class="form-control" required="required"
												ng-blur="formElemValidate()"
												ng-model="user.billing.address1" />
											<p class="help-block onerror">Address is required</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label class="control-label">Suite/Apt</label> <input
												type="text" class="form-control"
												ng-model="user.billing.address2" />
										</div>
									</div>
								</div>
								<div class="row marg-b3">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">City<sup>*</sup></label> <input
												type="text" required="required" ng-blur="formElemValidate()"
												class="form-control" ng-model="user.billing.city" />
											<p class="help-block onerror">City is required</p>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<label class="control-label">State<sup>*</sup></label> <input
												type="text" required="required" ng-blur="formElemValidate()"
												class="form-control" ng-model="user.billing.state" />
											<p class="help-block onerror">State is required</p>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<label class="control-label">Zip Code<sup>*</sup></label> <input
												type="text" class="form-control" required="required"
												ng-blur="formElemValidate()" ng-model="user.billing.zip" />
											<p class="help-block onerror">Zipcode is required</p>
										</div>
									</div>
								</div>
								
								<div class="text-center">
									<button type="submit" class="btn btn-lb btn-lb-w"
										ng-disabled="cartAddress.$invalid">
										<strong>Save Address</strong>
									</button>
								</div>

							</form>
						</div>

						<div class="cart-address-info" ng-show="addressValidated">
							<div class="row">
								<div class="col-sm-5 marg-b2">
									<div class="delivery-address"></div>
								</div>
								<div class="col-sm-7">
									<h6>Address</h6>
									<div class="cart-address-holder">
										<div class="row">
											<div class="col-xs-8">
												<div>{{user.billing.address1}}</div>
												<div>
													<small>{{user.billing.city + ', ' +
														user.billing.state + ' ' + user.billing.zip}}</small>
												</div>
											</div>
											<div class="col-xs-4 text-right">
												<a href="" ng-click="editAddress()"
													class="inlineb pad1 inherit"><i class="fa fa-pencil"
													aria-hidden="true"></i> <em>edit</em></a>
											</div>
										</div>
									</div>
									<div>
										<h6>Delivery Instructions</h6>
										<div>
											<textarea class="form-control"
												ng-model="order.notes.deliveryNotes"
												ng-change="saveDeliveryNotes()"
												ng-model-options="{updateOn: 'blur'}"
												placeholder="e.g. Gate code, call upon arrival"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>



					<div class="cart-details" ng-if="goodToProceed">
						<h4 class="cart-steps">Step3: Confirm Your Order</h4>
						<div class="cart-confirmation text-center">
							<h4>
								<span class="green1">Your order total is {{order.total |
									currency}} and the donation is due on product delivery.</span>
							</h4>

							<div th:if="${userId}">
								<div>
									<a href="" ng-click="placeOrder()" class="btn btn-lb btn-lb-w"><strong>Place
											Order</strong></a>
								</div>
								<div class="pad2 grey7">
									<em>By clicking on Place Order, I agree to the terms and
										conditions of luvbrite.</em>
								</div>
							</div>

							<div th:if="not ${userId}">
								<div class="text-center">
									Please <a href="/login?ret=/cart">login to you account</a> to
									place the order. If you don't have an account with us, please
									visit our <a href="">patient registration</a> page.
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="cart-totals">
					<div class="hidden-xs">
						<div class="text-center">
							<a href="" ng-click="placeOrder()" class="btn btn-lb btn-lb-w"
								ng-disabled="!goodToProceed || !user._id"><strong>Place
									Order</strong></a>
						</div>
						<div class="text-center marg-b2 pad2 grey7"
							ng-if="goodToProceed" ng-hide="!user._id">
							<em>By clicking on Place Order, I agree to the terms and
								conditions of luvbrite.</em>
						</div>

						<ul class="cart-disbaled-reasons">
							<li ng-if="!user._id">Please <a href="/login?ret=/cart">login</a>
								to complete your order
							</li>
							<li ng-if="!addressValidated">Please save and validate the
								address before completing your order</li>
							<li ng-if="orderMin > order.total">Minimum order value should should be {{orderMin|currency}}</li>
						</ul>
					</div>

					<div>
						<h4>Order Summary</h4>
						<table class="table cart-summary size13">
							<tbody>
								<tr>
									<td>Items</td>
									<td class="text-right">{{order.subTotal | currency}}</td>
								</tr>
								<tr ng-if="order.subTotal > order.total">
									<td>Discount</td>
									<td class="text-right">{{(order.subTotal - order.total) |
										currency}}</td>
								</tr>

								<tr>
									<td colspan="2">

										<div class="promotions clearfix marg-b3"
											ng-hide="couponApplied">
											<h6>Add Gift or Promo Code</h6>
											<form ng-submit="applyCoupon()" name="promoForm"
												class="cart-promo-form">
												<input type="text" class="form-control size13"
													ng-model="couponCode" />
												<button class="btn btn-sm btn-lb" type="submit">Apply</button>
											</form>
										</div>
										<div class="applied-coupons marg-b3" ng-if="offersApplied">
											<h6>Promotions Applied</h6>
											<div class="marg-l1" ng-repeat="item in sales">
												<em class="green1">{{item.name}} (-{{item.price
													| currency}})</em>
											</div>
											<div class="marg-l1" ng-repeat="item in order.lineItems"
												ng-if="item.type=='coupon'">
												<em><span class="green1">{{item.name}}
														(-{{item.price | currency}})</span> <a href="#"
													ng-click="removeCoupon()" title="Remove Coupon"><i
														class="fa fa-trash-o marg-l1" aria-hidden="true"></i></a></em>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2"><hr /></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>TOTAL</th>
									<th class="text-right">{{order.total | currency}}</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script type="text/javascript">
	</script>
</body>
</html>