<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Cart</title>
<meta th:include="fragments/layout::fragment-head" />

</head>
<body ng-app="lbApp" ng-controller="cartMainCtrlr as m" class="bg-greyF9 cartPage">
	<div th:replace="fragments/layout::fragment-header"></div>
	<div class="container page-container rel">

		<div class="cart-details" th:if="not ${userId}" ng-hide="m.emptyCart">
			<div class="row">
				<div class="col-sm-6 marg-t1">
					<em class="size16">Do you have an account with us?</em>
				</div>
				<div class="col-sm-6 text-right">
					<a href="/login?ret=/cart" class="btn btn-lb btn-lb-w">Log In</a>
				</div>
			</div>
		</div>

		<div class="cart-details" ng-if="m.cartLoading">
			<h4 class="text-center">
				<i class="fa fa-cog fa-spin fa-3x fa-fw"></i> <span class="sr-only">Loading...</span>
			</h4>
		</div>
		
		<div class="cart-details ng-cloak" ng-if="m.emptyCart">
			<h4 class="text-center">Shopping cart is empty!</h4>
		</div>

		<div class="row marg-b5">

			<div class="col-sm-8">
				<div id="itemCtrlr"></div>
				
				<div id="deliveryCtrlr"></div>


				<div id="paymentCtrlr"></div>


				<div id="reviewCtrlr"></div>
			</div>

			<div class="col-sm-4 hidden-xs">
				<div id="couponCtrlr">
	
				</div>

			</div>
		</div>


	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script type="text/javascript"
		src="https://js.squareup.com/v2/paymentform"></script>
	<script type="text/javascript"
		th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyDOOuxNzzE247y4HbG9B5J2yM8vzzhegCU&amp;libraries=places}"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>