<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:title="'Luvbrite | ' + ${category.name}"></title>
<meta th:include="fragments/layout::fragment-head" />
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
    var _globalUserId = /*[[${userId}]]*/ 0;
    var _pageCatName = /*[[${category.name}]]*/ '';
/*]]>*/
</script>
</head>
<body ng-app="lbApp" ng-controller="categoryCtrlr" class="bg-greyF9">

	<div th:replace="fragments/layout::fragment-header"></div>

	<div class="container page-container">
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/category">All Categories</a></li>
			<li class="active" th:text="${category.name}"></li>
		</ol>
		
		<h1 th:text="${category.name}"></h1>
		<h5 th:if="${category.description!=null}"
			th:text="${category.description}"></h5>


		<div class="category-groups ng-cloak">
			<ul class="products-container row">
				<li ng-repeat="p in products" class="col-lg-3 col-sm-4 col-xs-6"
					ng:if="p.status=='publish'">
					<div class="product-item">
						<a href="/product/{{p.url}}" class="pc-img-holder"><span>
								<img ng-src="{{lbGlobalCDNPath + p.featuredImg}}" class="featured-img" />
						</span> </a>
						<div class="pc-info">
							<h3>
								<a href="/product/{{p.url}}">{{p.name}}</a>
							</h3>
							<hr />
							<div class="clearfix">
								<div class="pull-left pc-price-range">{{p.priceRange}}</div>
								<div class="pull-right pc-action">
									<button class="btn btn-lb btn-sm">
										<i class="fa fa-plus" aria-hidden="true"></i> <span>ADD</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script type="text/javascript">
	</script>
</body>
</html>