<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Order Confirmation</title>
<meta th:include="fragments/layout::fragment-head" />
<meta name="robots" content="noindex" />
</head>
<body ng-app="lbApp" class="bg-greyF9 confirmationPage">	
	<div th:replace="fragments/layout::fragment-google-analytics"></div>

	<div class="container page-container rel" th:if="not ${order}">
		<div class="cart-details">
			<h3>Sorry, we were unable to find any order information.</h3>
		</div>
	</div>

	<div class="container rel pad-t3" th:if="${order}">
		<header>
			<div class="row">
				<div class="col-xs-6 text-left">

					<a href="/" class="pad1"> <img class="site-logo"
						src="https://lbrit.co/static/imgs/luvbrite-header-logo.png" rel="logo"
						alt="Luvbrite" />
					</a>
				</div>
				<div class="col-xs-6 text-right">
					<h3>Order Confirmation</h3>
				</div>
			</div>
		</header>
		<div class="confirmation-content">
			<div class="text-center">
				<h1>THANK YOU FOR YOUR ORDER</h1>
				<h3>
					Your Order Number is <span class="orange1"
						th:text="${order.orderNumber}"></span>
				</h3>
			</div>
			<hr class="marg-b2" />
			<div class="marg-b3 text-center">
				<div class="mx800 automarg size16 lineheight-18">
					An email has been sent to <span class="u green1"
						th:text="${order.customer.email}"></span> containing all your
					order details. Please allow up to 10 minutes for the email to reach
					your inbox. Be sure to add <span class="u green1">no-reply@luvbrite.com</span>
					to your "trusted email" list to avoid having any important
					information go to spam.
				</div>
			</div>

			<div class="marg-b10 text-center">
				<a th:href="@{'/customer#/details/' + ${order.orderNumber}}"
					class="btn btn-lb btn-lb-w">VIEW ORDER DETAILS</a>
			</div>

			<div class="pad-h2">
				<h3 class="split-lines">Popular This Month</h3>
			</div>
			<div class="yml-container">
				<ul class="row products-container">
					<li>
						<div class="product-item-container">
							<div class="product-item-card">
								<div class="cards product-item">
									<div>
										<a href="/product/chemdawg-diesel" class="pc-img-holder"><span>
												<img class="featured-img"
												th:src="${_lbGlobalCDNPath} + '/uploads/2016/06/chemdawg-diesel.jpg'" />
										</span> </a>
									</div>
									<div class="pc-info">
										<h3>
											<a href="/product/chemdawg-diesel">Chemdawg Diesel 5g
												Special</a>
										</h3>
										<hr />
										<div class="clearfix">
											<div class="pull-left pc-price-range">$45.00</div>
											<div class="pull-right pc-action">
												<a class="btn btn-lb btn-sm" href="/product/chemdawg-diesel">
													<span class="white">Details</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="product-item-container">
							<div class="product-item-card">
								<div class="cards product-item">
									<div>
										<a href="/product/highlighter-vape-cartridge"
											class="pc-img-holder"><span> <img
												class="featured-img"
												th:src="${_lbGlobalCDNPath} + '/uploads/2016/01/highlighter-vape-cartridge.jpg'" />
										</span> </a>
									</div>
									<div class="pc-info">
										<h3>
											<a href="/product/highlighter-vape-cartridge"
												title="Highlighter Vape Cartridge">Highlighter Vape
												Cartridge</a>
										</h3>
										<hr />
										<div class="clearfix">
											<div class="pull-left pc-price-range">$35.00</div>
											<div class="pull-right pc-action">
												<a class="btn btn-lb btn-sm"
													href="/product/highlighter-vape-cartridge"> <span
													class="white">Details</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="product-item-container">
							<div class="product-item-card">
								<div class="cards product-item">
									<div>
										<a href="/product/2020-knockout-pre-roll"
											class="pc-img-holder"><span> <img
												class="featured-img"
												th:src="${_lbGlobalCDNPath} + '/uploads/2016/02/2020-knockout-pre-roll.jpg'" />
										</span> </a>
									</div>
									<div class="pc-info">
										<h3>
											<a href="/product/2020-knockout-pre-roll"
												title="2020 Knockout Pre Roll">2020 Knockout Pre Roll</a>
										</h3>
										<hr />
										<div class="clearfix">
											<div class="pull-left pc-price-range">$15.00 - $25.00</div>
											<div class="pull-right pc-action">
												<a class="btn btn-lb btn-sm"
													href="/product/2020-knockout-pre-roll"> <span
													class="white">Details</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

			</div>
			<!-- .yml-container ends -->

		</div>

	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<script type="text/javascript"></script>
</body>
</html>