<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Order Confirmation</title>
<meta th:include="fragments/layout::fragment-head" />
<meta name="robots" content="noindex" />
</head>
<body ng-app="lbApp" class="bg-greyF9 confirmationPage">	
	<div th:replace="fragments/layout::fragment-google-analytics"></div>

	<div class="container page-container rel" th:if="not ${order}">
		<div class="cart-details">
			<h3>Sorry, we were unable to find any order information.</h3>
		</div>
	</div>

	<div class="container rel pad-t3" th:if="${order}">
		<header>
			<div class="row">
				<div class="col-xs-6 text-left">

					<a href="/" class="pad1"> <img class="site-logo"
						src="https://lbrit.co/static/imgs/luvbrite-header-logo.png" rel="logo"
						alt="Luvbrite" />
					</a>
				</div>
				<div class="col-xs-6 text-right">
					<h3>Order Confirmation</h3>
				</div>
			</div>
		</header>
		<div class="confirmation-content">
			<div class="text-center">
				<h1>THANK YOU FOR YOUR ORDER</h1>
				<h3>
					Your Order Number is <span class="orange1"
						th:text="${order.orderNumber}"></span>
				</h3>
			</div>
			<hr class="marg-b2" />
			<div class="marg-b3 text-center">
				<div class="mx800 automarg size16 lineheight-18">
					An email has been sent to <span class="u green1"
						th:text="${order.customer.email}"></span> containing all your
					order details. Please allow up to 10 minutes for the email to reach
					your inbox. Be sure to add <span class="u green1">no-reply@luvbrite.com</span>
					to your "trusted email" list to avoid having any important
					information go to spam.
				</div>
			</div>

			<div class="marg-b5 text-center">
				<a th:href="@{'/customer#/details/' + ${order.orderNumber}}"
					class="btn btn-lb btn-lb-w">VIEW ORDER DETAILS</a>
			</div>

			<div class="mx800 marg-b10" ng-controller="surveyCtrlr">

				<div class="marg-b3">Please take a few moments to answer the
					questions below. These questions will help us determine the right
					actions to take moving forward with products and services. Your
					opinions are highly valued and appreciated. Completion of the
					survey will activate a courtesy gift which will be confirmed upon
					submittal.</div>

				<div class="survey-wrapper">
					<div class="survey-item">
						<div class="survey-question">1. Use numbers 1-5 to let us know
							how each quality plays a roll when shopping for flowers. The
							number 1 will represent the most important, 2 represents the
							second most important, and so on.</div>
						<div class="survey-options">
							<ul>
								<li><span>Nose</span>
									<button class="btn">1</button>
									<button class="btn">2</button>
									<button class="btn">3</button>
									<button class="btn">4</button>
									<button class="btn">5</button></li>
							
								<li><span>Price</span>
									<button class="btn">1</button>
									<button class="btn">2</button>
									<button class="btn">3</button>
									<button class="btn">4</button>
									<button class="btn">5</button></li>
							
								<li><span>Structure</span>
									<button class="btn">1</button>
									<button class="btn">2</button>
									<button class="btn">3</button>
									<button class="btn">4</button>
									<button class="btn">5</button></li>
						
								<li><span>Amount</span>
									<button class="btn">1</button>
									<button class="btn">2</button>
									<button class="btn">3</button>
									<button class="btn">4</button>
									<button class="btn">5</button></li>
							
								<li><span>Familiarity/Reputability</span>
									<button class="btn">1</button>
									<button class="btn">2</button>
									<button class="btn">3</button>
									<button class="btn">4</button>
									<button class="btn">5</button></li>
							</ul>
						</div>
					</div>
					
					<div class="survey-item">
						<div class="survey-question">2. Bud appearance means a lot to me.</div>
						<div class="survey-options">
							<ul>
								<li><button class="btn">Strongly Agree</button>
									<button class="btn">Agree</button>
									<button class="btn">Neutral</button>
									<button class="btn">Disagree</button>
									<button class="btn">Strong Disagree</button></li>
							</ul>
						</div>
					</div>
					
					<div class="survey-item">
						<div class="survey-question">3. If you could choose only one
							category to see more of, which would it be? You can select 1 bold
							category and up to 2 subcategories within that chosen category..</div>
						<div class="survey-options">
							<ul>
								<li><div class="radio">
										<label> <input type="radio" name="categories" />
											Flowers
										</label>
									</div>
									<ul>
										<li><div class="checkbox">
										<label> <input type="checkbox" name="Sativa" />
											Sativa
										</label>
									</div></li>
										<li><div class="checkbox">
										<label> <input type="checkbox" name="Indica" />
											Indica
										</label>
									</div></li>
										<li><div class="checkbox">
										<label> <input type="checkbox" name="Hybrid" />
											Hybrid
										</label>
									</div></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>

				<button class="btn btn-primary" ng-click="submitSurvey()">Submit Survey</button>
			</div>
			
			<div class="pad-h2">
				<h3 class="split-lines">Popular This Month</h3>
			</div>
			<div class="yml-container">
				<ul class="row products-container">
					<li>
						<div class="product-item-container">
							<div class="product-item-card">
								<div class="cards product-item">
									<div>
										<a href="/product/chemdawg-diesel" class="pc-img-holder"><span>
												<img class="featured-img"
												th:src="${_lbGlobalCDNPath} + '/uploads/2016/06/chemdawg-diesel.jpg'" />
										</span> </a>
									</div>
									<div class="pc-info">
										<h3>
											<a href="/product/chemdawg-diesel">Chemdawg Diesel 5g
												Special</a>
										</h3>
										<hr />
										<div class="clearfix">
											<div class="pull-left pc-price-range">$45.00</div>
											<div class="pull-right pc-action">
												<a class="btn btn-lb btn-sm" href="/product/chemdawg-diesel">
													<span class="white">Details</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="product-item-container">
							<div class="product-item-card">
								<div class="cards product-item">
									<div>
										<a href="/product/highlighter-vape-cartridge"
											class="pc-img-holder"><span> <img
												class="featured-img"
												th:src="${_lbGlobalCDNPath} + '/uploads/2016/01/highlighter-vape-cartridge.jpg'" />
										</span> </a>
									</div>
									<div class="pc-info">
										<h3>
											<a href="/product/highlighter-vape-cartridge"
												title="Highlighter Vape Cartridge">Highlighter Vape
												Cartridge</a>
										</h3>
										<hr />
										<div class="clearfix">
											<div class="pull-left pc-price-range">$35.00</div>
											<div class="pull-right pc-action">
												<a class="btn btn-lb btn-sm"
													href="/product/highlighter-vape-cartridge"> <span
													class="white">Details</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="product-item-container">
							<div class="product-item-card">
								<div class="cards product-item">
									<div>
										<a href="/product/2020-knockout-pre-roll"
											class="pc-img-holder"><span> <img
												class="featured-img"
												th:src="${_lbGlobalCDNPath} + '/uploads/2016/02/2020-knockout-pre-roll.jpg'" />
										</span> </a>
									</div>
									<div class="pc-info">
										<h3>
											<a href="/product/2020-knockout-pre-roll"
												title="2020 Knockout Pre Roll">2020 Knockout Pre Roll</a>
										</h3>
										<hr />
										<div class="clearfix">
											<div class="pull-left pc-price-range">$15.00 - $25.00</div>
											<div class="pull-right pc-action">
												<a class="btn btn-lb btn-sm"
													href="/product/2020-knockout-pre-roll"> <span
													class="white">Details</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

			</div>
			<!-- .yml-container ends -->

		</div>

	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script type="text/javascript">
		var surveyCtrlr = function($scope, $http){
			
			var saveResponse = {"sr":{"_id":null,"sid":1,"date":new Date(),"customer":null,"orderNumber":0,"otherRef":null,
				"details":[
						{"qid":1,"response":"Nose,2|Price,1|Structure,3|Amount,5|Familiarity/Reputability,4","comment":null},
						{"qid":2,"response":"Agree","comment":null},
						{"qid":3,"response":"Flowers,Sativa,Indica,Drinks","comment":null},
						{"qid":4,"response":"Yes","comment":null},
						{"qid":5,"response":"No","comment":"Some reason"},
						{"qid":6,"response":"Yes","comment":null},
						{"qid":7,"response":"Not sure yet","comment":""}
					]
				},
				"sfs":[
					{ "_id":null, "sid":1, "qid":1, "resp":"Nose", "value":2},
					{ "_id":null, "sid":1, "qid":1, "resp":"Price", "value":1},
					{ "_id":null, "sid":1, "qid":1, "resp":"Structure", "value":3},
					{ "_id":null, "sid":1, "qid":1, "resp":"Amount", "value":5},
					{ "_id":null, "sid":1, "qid":1, "resp":"Familiarity/Reputability", "value":4},
					
					{ "_id":null, "sid":1, "qid":2, "resp":"Agree", "value":1},

					{ "_id":null, "sid":1, "qid":3, "resp":"Flowers", "value":1},
					{ "_id":null, "sid":1, "qid":3, "resp":"Sativa", "value":1},
					{ "_id":null, "sid":1, "qid":3, "resp":"Indica", "value":1},
					{ "_id":null, "sid":1, "qid":3, "resp":"Drinks", "value":1},
					
					{ "_id":null, "sid":1, "qid":4, "resp":"Yes", "value":1},
					{ "_id":null, "sid":1, "qid":5, "resp":"No", "value":1},
					{ "_id":null, "sid":1, "qid":6, "resp":"Yes", "value":1},
					{ "_id":null, "sid":1, "qid":7, "resp":"Not sure yet", "value":1}
				]
			};
			
			
			$scope.submitSurvey = function(){
				
				$http.post("/survey/savesurvey",saveResponse)
				.then(function(resp){
					if(resp.data){
						if(resp.data.success){
							alert('Survey Saved');
						}
						else{
							alert(resp.data.message);
						}
					}
					
				}, function(){
					alert("Sorry there was some error updating the Survey.");
				});
			};
			
			
		};
		
		lbApp.controller('surveyCtrlr', 	 ['$scope', '$http', surveyCtrlr])
	
	</script>
</body>
</html>