<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Order Confirmation</title>
<meta th:include="fragments/layout::fragment-head" />
<meta name="robots" content="noindex" />
</head>
<body ng-app="lbApp" class="bg-greyF9 confirmationPage">	
	<div th:replace="fragments/layout::fragment-google-analytics"></div>

	<div class="container page-container rel" th:if="not ${order}">
		<div class="cart-details">
			<h3>Sorry, we were unable to find any order information.</h3>
		</div>
	</div>

	<div class="container rel pad-t3" th:if="${order}">
		<header>
			<div class="row">
				<div class="col-xs-6 text-left">

					<a href="/" class="pad1"> <img class="site-logo"
						src="https://lbrit.co/static/imgs/luvbrite-header-logo.png" rel="logo"
						alt="Luvbrite" />
					</a>
				</div>
				<div class="col-xs-6 text-right">
					<h3>Order Confirmation</h3>
				</div>
			</div>
		</header>
		<div class="confirmation-content">
			<div class="text-center">
				<h1>THANK YOU FOR YOUR ORDER</h1>
				<h3>
					Your Order Number is <span class="orange1"
						th:text="${order.orderNumber}"></span>
				</h3>
			</div>
			<hr class="marg-b2" />
			<div class="marg-b3 text-center">
				<div class="mx800 automarg size16 lineheight-18">
					An email has been sent to <span class="u green1"
						th:text="${order.customer.email}"></span> containing all your
					order details. Please allow up to 10 minutes for the email to reach
					your inbox. Be sure to add <span class="u green1">no-reply@luvbrite.com</span>
					to your "trusted email" list to avoid having any important
					information go to spam.
				</div>
			</div>

			<div class="marg-b5 text-center">
				<a th:href="@{'/customer#/details/' + ${order.orderNumber}}"
					class="btn btn-lb btn-lb-w">VIEW ORDER DETAILS</a>
			</div>

			<div class="mx800 marg-b10 ng-cloak" ng-controller="surveyCtrlr">
				<input type="hidden" id="orderNumber" th:value="${order.orderNumber}" />
				<input type="hidden" id="customerName" th:value="${order.customer.name}" />
				
				<div ng-hide="takeSurvey" class="alert alert-info">
					<div class="marg-b3">Please take a few moments to answer the
						questions below. These questions will help us determine the right
						actions to take moving forward with products and services. Your
						opinions are highly valued and appreciated. Completion of the
						survey will activate a courtesy gift which will be confirmed upon
						submittal.</div>

					<div class="text-center">
						<button class="btn btn-info" ng-click="takeSurvey = true">Take
							Survey</button>
					</div>
				</div>

				<div class="survey-wrapper ng-cloak"
					ng-show="takeSurvey &amp;&amp; !surveyCompleted">
					<h3 class="text-center">Luvbrite Customer Survey</h3>
					<div class="survey-item">
						<div class="survey-question">
							<strong>1.</strong>Use numbers 1-5 to let us know how each
							quality plays a roll when shopping for flowers. The number 1 will
							represent the most important, 2 represents the second most
							important, and so on.
						</div>
						<div class="survey-options">
							<ul class="multi-options">
								<li ng-repeat="so in surveyOptions.q1.options"
									ng-class="{'has-error' : so.error &amp;&amp; !so.value}"><span
									class="qn-span">{{so.name}}</span> <label class="radio-inline"
									ng-repeat="n in [1,2,3,4,5]"> <input type="radio"
										name="{{so.name}}" ng-model="so.value" value="{{n}}" /> {{n}}
								</label></li>
							</ul>
						</div>
					</div>

					<div class="survey-item">
						<div class="survey-question">
							<strong>2.</strong>Bud appearance means a lot to me.
						</div>
						<div class="survey-options">
							<ul>
								<li
									ng-class="{'has-error' : surveyOptions.q2.error &amp;&amp; !surveyOptions.q2.selected}"><label
									class="radio-inline"
									ng-repeat="option in surveyOptions.q2.options"> <input
										type="radio" name="q1-appear" value="{{option}}"
										ng-model="surveyOptions.q2.selected" /> {{option}}
								</label></li>
							</ul>
						</div>
					</div>

					<div class="survey-item">
						<div class="survey-question">
							<strong>3.</strong>If you could choose only one category to see
							more of, which would it be? You can select 1 bold category and up
							to 2 subcategories within that chosen category.
						</div>
						<div class="survey-options">
							<ul
								ng-class="{'has-error' : surveyOptions.q3.error &amp;&amp; !surveyOptions.q3.selected.cat}">

								<li ng-repeat="so in surveyOptions.q3.options">
									<div class="radio">
										<label ng-click="catClick()"> <input type="radio"
											name="categories" ng-model="surveyOptions.q3.selected"
											ng-value="so" /> <strong class="black">{{so.cat}}</strong>
										</label>
									</div>

									<div class="survey-subcats" ng-if="so.subCat.length">
										<label class="radio-inline" ng-repeat="subcat in so.subCat"
											ng-click="subCatClick($event)"> <input
											type="checkbox" name="sub-category" ng-model="subcat.checked" />
											{{subcat.value}}
										</label>
									</div>
								</li>

							</ul>
						</div>
					</div>


					<div class="survey-item">
						<div class="survey-question">
							<strong>4.</strong>The site is easy to navigate.
						</div>
						<div class="survey-options">
							<ul>
								<li
									ng-class="{'has-error' : surveyOptions.q4.error &amp;&amp; !surveyOptions.q4.selected}"><label
									class="radio-inline" ng-repeat="so in surveyOptions.q4.options">
										<input type="radio" name="easy_to_navigate" ng-value="so"
										ng-model="surveyOptions.q4.selected" /> {{so}}
								</label></li>
							</ul>
							<div class="survey-comments" ng-if="surveyOptions.q4.comments">
								<p>{{surveyOptions.q4.comments.text}}</p>
								<textarea name="easy_to_navigate_comments" class="form-control"
									id="" cols="30" rows="5"
									ng-model="surveyOptions.q4.comments.value"></textarea>
							</div>
						</div>
					</div>



					<div class="survey-item">
						<div class="survey-question">
							<strong>5.</strong>I plan to continue purchasing through
							Luvbrite.
						</div>
						<div class="survey-options">
							<ul>
								<li
									ng-class="{'has-error' : surveyOptions.q5.error &amp;&amp; !surveyOptions.q5.selected}"><label
									class="radio-inline" ng-repeat="so in surveyOptions.q5.options">
										<input type="radio" name="continue_with_luvbrite"
										ng-model="surveyOptions.q5.selected" ng-value="so" /> {{so}}
								</label></li>
							</ul>
							<div class="survey-comments" ng-if="surveyOptions.q5.comments">
								<p>{{surveyOptions.q5.comments.text}}</p>
								<textarea name="continue_with_luvbrite_comments"
									class="form-control" id="" cols="30" rows="5"
									ng-model="surveyOptions.q5.comments.value"></textarea>
							</div>
						</div>
					</div>



					<div class="survey-item">
						<div class="survey-question">
							<strong>6.</strong>I am happy with the service provided by
							Luvbrite. This includes condition of products delivered, delivery
							times, staff knowledge and courtesy.
						</div>
						<div class="survey-options">
							<ul>
								<li
									ng-class="{'has-error' : surveyOptions.q6.error &amp;&amp; !surveyOptions.q6.selected}"><label
									class="radio-inline" ng-repeat="so in surveyOptions.q6.options">
										<input type="radio" name="happy_with_service"
										ng-model="surveyOptions.q6.selected" ng-value="so" /> {{so}}
								</label></li>
							</ul>
							<div class="survey-comments" ng-if="surveyOptions.q6.comments">
								<p>{{surveyOptions.q6.comments.text}}</p>
								<textarea name="happy_with_service_comments"
									class="form-control" id="" cols="30" rows="5"
									ng-model="surveyOptions.q6.comments.value"></textarea>
							</div>
						</div>
					</div>



					<div class="survey-item">
						<div class="survey-question">
							<strong>7.</strong>Luvbrite is or will be the only place where I
							plan on acquiring my cannabis.
						</div>
						<div class="survey-options">
							<ul>
								<li
									ng-class="{'has-error' : surveyOptions.q7.error &amp;&amp; !surveyOptions.q7.selected}"><label
									class="radio-inline" ng-repeat="so in surveyOptions.q7.options">
										<input type="radio" name="loyal_to_luvbrite"
										ng-model="surveyOptions.q7.selected" ng-value="so" /> {{so}}
								</label></li>
							</ul>
							<div class="survey-comments" ng-if="surveyOptions.q7.comments">
								<p>{{surveyOptions.q7.comments.text}}</p>
								<textarea name="loyal_to_luvbrite_comments" class="form-control"
									id="" cols="30" rows="5"
									ng-model="surveyOptions.q7.comments.value"></textarea>
							</div>
						</div>
					</div>



					<div class="survey-item">
						<div class="survey-question">Optional: Please let us know if
							there's anything you feel you want to add. If there's anything
							you think can be improved, anything you don't like, anything you
							want added to the site you didn't see mentioned, please list it
							below.</div>
						<div class="survey-options">
							<div class="survey-comments">
								<textarea name="other_comments" class="form-control" id=""
									cols="30" rows="5" ng-model="surveyOptions.q8.comments"></textarea>
							</div>
						</div>
					</div>

					<div class="text-center">
						<button class="btn btn-primary" ng-click="validateSurvey()">Submit
							Survey</button>
					</div>

					<div class="alert alert-danger marg-t1" ng-if="surveyErrorMsg">{{surveyErrorMsg}}</div>

				</div>

				<div class="alert alert-success" ng-if="surveyCompleted">Thank
					you for helping us serve you better! Our goal is to better our
					service and make sure you get what you need in terms of cannabis
					product. As a token of our appreciation, a free gram has been added
					to your order.</div>

			</div>
			

			<div class="abs" id="twosubalertmsg" style="display:none;">
				<div class="alert alert-warning pad1"><small>Only two sub categories need
					to be selected.</small></div>
			</div>
		</div>

	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
</body>
</html>