<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Pending Registration</title>
<link href="https://www.luvbrite.com/pending-registration" rel="canonical" />
<meta th:include="fragments/layout::fragment-head" />
</head>
<body ng-app="lbApp" class="bg-greyF0">
	<div th:replace="fragments/layout::fragment-google-analytics"></div>
	<div th:replace="fragments/layout::fragment-header"></div>

	<div class="container page-container">
		<div class="generic-container pad2">
			<h2>Pending Registration</h2>

			<div class="marg-b2" th:if="${userName}!=null"
				th:text="'Hi ' + ${userName}"></div>

			<div class="alert alert-warning">
				<h4>Thank you for registering with Luvbrite Collective.</h4>
				<div class="marg-b2">
					Your account registration is currently in pending status. Our
					support team usually reviews your registration information and
					activates the account in <strong>20 minutes</strong>. In case you
					are registering outside our business hours (11 AM to 11 PM PST),
					your account will be activated the next business day. If there has
					been a delay, please call us at <strong>(424) 270-1560</strong> and
					we will be happy to assist you.
				</div>
				<div>
					<strong>Important:</strong> Please make sure that our emails are
					coming to your inbox. In some scenarios, our emails to you might
					end up in your email SPAM and get lost.
				</div>
			</div>

		</div>
	</div>


	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:include="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
</body>
</html>