<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Luvbrite</title>
<meta th:include="fragments/layout::fragment-head" />

</head>
<body>
	<div th:replace="fragments/layout::fragment-header(extn=true)"></div>
	<div class="container rel">
		
		<h1>ALL PRODUCTS</h1>

		<div class="category-groups">
			<div class="category-group" th:each="cat : ${categories}">
				<div class="category-header">
					<h3 class="category-name split-lines" th:text="${cat.name}">CATEGORY</h3>
				</div>
				
				<ul class="products-container row">
					<li th:each="product : ${products}"
						class="col-lg-3 col-sm-4 col-xs-6"
						th:if="${product.status}=='publish' and ${#lists.contains(product.categories, cat.name)}">
						<div class="product-item">
							<a th:href="@{'/product/' + ${product.url}}" href=""
								class="pc-img-holder"><span> <img
									th:src="'/files/view/' + ${product.featuredImg}"
									class="featured-img" />
							</span> </a>
							<div class="pc-info">
								<h2>
									<a th:href="@{'/product/' + ${product.url}}"
										th:text="${product.name}"></a>
								</h2>
								<hr />
								<div th:text="${product.priceRange}"></div>
							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</div>

	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<script type="text/javascript">
	</script>
</body>
</html>