<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Luvbrite</title>
<meta th:include="fragments/layout::fragment-head" />
</head>
<body ng-app="lbApp" ng-controller="allProductCtrlr" class="bg-greyF9 allproductspage">
	<div th:replace="fragments/layout::fragment-header(extn=false)"></div>
	<div class="container page-container rel">
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">All Products</li>
		</ol>

		<h1>ALL PRODUCTS</h1>

		<div class="products-listing">

			<ul class="products-container row">
				<li th:each="product : ${products}"
					th:attr="data-pid=${product._id},
					data-stockstat=${product.stockStat},
					data-pname=${product.name},
					data-img=${product.featuredImg},
					data-var=${product.variation},
					data-p=${product.price},
					data-sp=${product.salePrice}">


					<div class="product-item-container">
						<div class="product-item-card">
							<div class="cards product-item">
								<div>
									<a th:if="${product.featuredImg}!=null" th:href="@{'/product/' + ${product.url}}" href=""
										class="pc-img-holder"> <img
										th:src="${_lbGlobalCDNPath} + ${#strings.replace(product.featuredImg,'.jpg','-300x266.jpg')}"
										class="featured-img" /></a>
								</div>
								<div class="pc-info">
									<h3>
										<a th:href="@{'/product/' + ${product.url}}"
											th:title="${product.name}" th:text="${product.name}"></a>
									</h3>
									<hr />
									<div class="clearfix">
										<div class="pull-left pc-price-range"
											th:text="${product.priceRange}"></div>
										<div class="pull-right pc-action">
											<button class="btn btn-lb btn-sm" ng-click="showOptions($event)">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="cards pi-card-back">
								<a href="#" ng-click="flipBack($event)" class="pi-card-undo"><i
									class="fa fa-undo white" aria-hidden="true"></i></a>
								<h3>
									<a th:href="@{'/product/' + ${product.url}}"
										th:title="${product.name}" th:text="${product.name}"></a>
								</h3>

								<div class="product-options empty">
									<table>
										<tr>
											<td><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></td>
										</tr>
									</table>
								</div>

							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script type="text/ng-template" id="productOptionsTemp">
		<div th:replace="fragments/layout::fragment-product-option"></div>
    </script>
	<script type="text/javascript">
	</script>
</body>
</html>