<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:if="${category}==null">All Products</title>
<title th:if="${category}!=null"  th:text="'All Products | ' + ${category}"></title>
<meta th:include="fragments/layout::fragment-head" />
</head>
<body ng-app="lbApp" ng-controller="allProductCtrlr" class="bg-greyF9 allproductspage">
	<div th:replace="fragments/layout::fragment-header"></div>
	<div class="container page-container rel">
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li th:if="${category}==null" class="active">All Products</li>
			<li th:if="${category}!=null" ><a href="/categories">All Categories</a></li>
			<li th:if="${category}!=null" class="active" th:text="${category}">Products</li>
		</ol>

		<h1 th:if="${category}==null">All Products</h1>
		<h1 th:if="${category}!=null" th:text="${category}">Products</h1>

		<div class="products-listing">

			<ul class="products-container row">
				<li th:each="product : ${products}"
					th:attr="data-pid=${product._id},
					data-stockstat=${product.stockStat},
					data-pname=${product.name},
					data-img=${product.featuredImg},
					data-var=${product.variation},
					data-p=${product.price},
					data-sp=${product.salePrice}">


					<div class="product-item-container">
						<div class="product-item-card showItem">
							<div class="pi-cards product-item">
								<h3>
									<a th:href="@{'/product/' + ${product.url}}"
										th:title="${product.name}" th:text="${product.name}"></a>
								</h3>

								<div class="card-center">
									<a th:if="${product.featuredImg}!=null"
										th:href="@{${_lbGlobalCDNPath} + ${product.featuredImg}}"
										class="pc-img-holder" ng-click="showBiggerImg($event)"> <img
										th:src="${_lbGlobalCDNPath} + ${#strings.replace(product.featuredImg,'.jpg','-300x266.jpg')}"
										class="featured-img" /></a>
								</div>

								<div class="tocart">
									<div class="text-center size16 marg-b1">
										Price: <strong th:text="${product.priceRange}"></strong>
									</div>
									<div class="row">
										<div class="col-xs-6">
											<button type="button" class="btn btn-lb btn-sm btn-block"
												ng-click="showInfo($event)">INFO</button>
										</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-lb btn-sm btn-block"
												ng-click="showOptions($event)">QTY</button>
										</div>
									</div>
								</div>
							</div>

							<div class="pi-cards pi-info">
								<h3>
									<a th:href="@{'/product/' + ${product.url}}"
										th:title="${product.name}" th:text="${product.name}"></a>
								</h3>

								<div class="product-options empty">
									<table>
										<tr>
											<td><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></td>
										</tr>
									</table>
								</div>

								<div class="product-desc">
									<div class="card-center">
										<ul class="lb-scrollbar">
											<li th:utext="${product.description}"></li>
										</ul>
									</div>

									<div class="tocart">
										<button type="button" class="btn btn-lb btn-sm"
											ng-click="flipBack($event)">BACK</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script type="text/ng-template" id="productOptionsTemp">
		<div th:replace="fragments/layout::fragment-product-option"></div>
    </script>
	<script type="text/javascript">
		
	</script>
	<div class="modal fade" tabindex="-1" role="dialog" id="prodImgModal"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<button class="close rel">
				<i class="fa fa-times" aria-hidden="true" ng-click="closeImgModal()"></i>
			</button>
			<div class="modal-content"></div>
		</div>
	</div>

	<div class="sidecart" ng-controller="cartMainCtrlr as m">
		<div ng-controller="cartItemCtrlr" class="pch100">
			<h4>Your Cart</h4>
			<button class="close" ng-click="prdCartClose()">&times;</button>
			<div class="sc-items lb-scrollbar">
				<ul>
					<li ng-repeat="item in m.order.lineItems"
					ng-if="item.type=='item'" ng-hide="!item.instock">
						<div class="clearfix">
							<div class="sci-img">
								<img class="fit" ng-if="item.img"
									ng-src="{{lbGlobalCDNPath + item.img}}" />
							</div>
							<div class="sci-info">
								<h6>{{item.name}}</h6>
								<div class="scii-qty">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" ng-show="item.qty==1"  ng-click="itemRemove()">
												<i class="fa fa-minus"></i>
											</button>
											<button class="btn btn-default" ng-hide="item.qty==1" ng-click="updateCart(-1)">
												<i class="fa fa-minus"></i>
											</button>
										</span> <input type="text" class="form-control" ng-model="item.qty"
											ng-change="updateCart()" /><span class="input-group-btn">
											<button class="btn btn-default" ng-click="updateCart(+1)">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
								</div>
								<div class="scii-price">{{item.price | currency}}</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="sc-action">
				<div class="clearfix strong uppercase marg-b1">
					<div class="pull-left">SUBTOTAL</div>
					<div class="pull-right text-right">{{m.order.total |
						currency}}</div>
				</div>

				<a href="/cart" class="btn btn-lb btn-block"
					ng-disabled="!m.orderAboveOrderMin">Proceed To Checkout</a>
				<div class="marg-t1" ng-if="!m.orderAboveOrderMin">
					<div class="alert alert-warning">
						<span class="size12">Minimum order value is <strong>{{m.orderMin|currency}}</strong></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>