<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Luvbrite</title>
<meta th:include="fragments/layout::fragment-head" />

</head>
<body ng-app="lbApp">
	<div th:replace="fragments/layout::fragment-header(extn=false)"></div>
	<div class="container page-container">
		<div class="generic-container pad3">
			<h1>Luvbrite Home Page</h1>

		</div>

		<div th:replace="fragments/layout::fragment-footer"></div>
		<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
		<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	</div>
	<script type="text/javascript">
	</script>
</body>
</html>