<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Control Records</title>
<meta th:include="fragments/admin/layout::fragment-head" />
</head>
<body ng-app="controlRecordApp" th:with="sc=${session.SPRING_SECURITY_CONTEXT}">
	<div class="admin-container">
		<div th:replace="fragments/admin/layout::fragment-header"></div>
		<div th:replace="fragments/admin/layout::fragment-subnav"></div>
		<div class="container-fluid" ng-controller="defaultRouteCtrl">
			<div class="orders-container ng-cloak" th:if="${sc!=null and #strings.contains(sc.authentication.authorities, 'ROLE_ADMIN')}">

				<div class="marg-b3">
					<a href="" class="btn btn-warning btn-sm" ng-click="reloadConfig()"><i
						class="fa fa-plus"></i> Reload Config</a>
				</div>

				<div class="marg-b3">
					<table class="table table-striped">
						<caption>All Control Records</caption>
						<thead>
							<tr>
								<th>Type</th>
								<th>Details</th>
								<th>Params</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="r in records">
								<td>{{r._id}}</td>
								<td>{{r.details}}</td>
								<td><form name="valueForm{{$index}}">
										<ul class="control-params-holder">
											<li ng-repeat="p in r.params">{{p.attr}} : <input
												type="text" ng-model="p.value" class="form-control" /></li>
	
										</ul>
										<a href="" class="btn btn-xs btn-success"
											ng-show="!valueForm{{$index}}.$pristine"
											ng-click="saveCtrlRecord()">SAVE</a>
									</form></td>
							</tr>
						</tbody>
					</table>				
				</div>
			</div>
		</div>

		<div th:replace="fragments/admin/layout::fragment-footer"></div>
		<div th:include="fragments/admin/layout::fragment-foot(angular=true)"></div>
	</div>
	
	<script src="/resources/js/admin/angular-control-records.js"></script>
	<script type="text/javascript">
		$('.nav-control-records').addClass('active');
	</script>
</body>
</html>