<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>All Products</title>
<meta th:include="fragments/admin/layout::fragment-head" />
</head>
<body ng-app="productsApp"
			th:with="sc=${session.SPRING_SECURITY_CONTEXT}">
	<div class="admin-container">
		<div th:replace="fragments/admin/layout::fragment-header"></div>
		<div th:replace="fragments/admin/layout::fragment-subnav"></div>
		<div class="rel ng-cloak clearfix"
			ng-controller="defaultRouteCtrl"
			th:if="${sc!=null and #strings.contains(sc.authentication.authorities, 'ROLE_EDIT')}">
			
			<div class="page-level-alert">
				<div class="alert alert-danger alert-dismissible" role="alert"
					ng-show="pageLevelError">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span ng-bind-html="pageLevelError"></span>
				</div>
			</div>
			
			
			<div class="customers-container col-lg-8">
				<div class="marg-b3">
					<a href="#/addproduct" class="btn btn-warning btn-sm"><i
						class="fa fa-plus"></i> NEW PRODUCT</a> <a href="#/categories"
						class="btn btn-info btn-sm"><i class="fa fa-cog"></i>
						CATEGORIES</a>
				</div>

				<div class="marg-b1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title size15">Filters</h3>
						</div>
						<div class="panel-body">
							<form class="form-horizontal" ng-submit="getProducts()">
								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<input type="text" class="form-control"
											placeholder="Product Search" ng-model="productSearch" /> <span
											class="input-group-btn">
											<button class="btn btn-default" type="submit">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div th:replace="fragments/admin/layout::fragment-pagination"></div>

				<table class="table table-striped">
					<thead>
						<tr>
							<th><a class="sortables"
								ng-click="sortType = '_id'; sortReverse = !sortReverse; pg.currentPage = 1; getProducts();">Id
									<span ng-show="sortType == '_id'"><i
										ng-show="!sortReverse" class="fa fa-caret-down"></i> <i
										ng-show="sortReverse" class="fa fa-caret-up"></i></span>
							</a></th>
							<th><a class="sortables"
								ng-click="sortType = 'name'; sortReverse = !sortReverse; pg.currentPage = 1; getProducts();">
									Name <span ng-show="sortType == 'name'"><i
										ng-show="!sortReverse" class="fa fa-caret-down"></i> <i
										ng-show="sortReverse" class="fa fa-caret-up"></i></span>
							</a></th>
							<th class="hidden-xs">Stock</th>
							<th class="hidden-xs">Price</th>
							<th class="hidden-xs">Categories</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in products">
							<td>{{p._id}}</td>
							<td><div>
									<a href="#/details/{{p._id}}">{{p.name}}</a> <em
										class="text-muted capitalize" ng-show="p.status=='private'">-
										{{p.status}}</em>
								</div>
								<div class="visible-xs">
									<div>
										<em>Stock Status:</em> {{p.stockStat}}
									</div>
									<div>
										<em>Price Range:</em> <span ng-show="p.variation">{{p.priceRange}}</span><span
											ng-show="!p.variation">{{p.price | currency}}</span>
									</div>
									<div>
										<em>Categories:</em> {{p.categories.join(" , ")}}
									</div>
								</div></td>
							<td class="hidden-xs">{{p.stockStat}}</td>
							<td class="hidden-xs"><span ng-show="p.variation">{{p.priceRange}}</span><span
								ng-show="!p.variation">{{p.price | currency}}</span></td>
							<td class="hidden-xs">{{p.categories.join(" , ")}}</td>
						</tr>
					</tbody>
				</table>

				<div th:replace="fragments/admin/layout::fragment-pagination"></div>

			</div>

			<div ng-view=""></div>
		</div>

		<div th:replace="fragments/admin/layout::fragment-footer"></div>
		<div th:replace="fragments/admin/layout::fragment-foot(angular=true)"></div>
	</div>
	<script src="/resources/js/angular-upload-service.js"></script>
	<script src="/resources/js/admin/angular-product.js"></script>
	<script type="text/javascript">
		$('.nav-products').addClass('active');
	</script>
</body>
</html>