<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Customer Profile</title>
<meta name="robots" content="noindex" />
<meta th:include="fragments/layout::fragment-head" />
</head>
<body ng-app="customerApp">

	<div th:replace="fragments/layout::fragment-header"></div>
	
	<div class="container rel ng-cloak page-container"
		ng-controller="defaultRouteCtrl">
		
		<div th:replace="customer/layout::fragment-subnav"></div>
		
		<div class="page-level-alert">
			<div class="alert alert-danger alert-dismissible" role="alert"
				ng-show="pageLevelError">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span ng-bind-html="pageLevelError"></span>
			</div>
		</div>
		
		<div ng-view="">
		
		</div>
		
		<script type="text/ng-template" id="profilePage">
				<div th:replace="customer/layout::fragment-profile"></div>
    		</script>	
		
		<script type="text/ng-template" id="ordersPage">
				<div th:replace="customer/layout::fragment-orders"></div>
    		</script>	
		
		<script type="text/ng-template" id="ordersDetailsPage">
				<div th:replace="customer/layout::fragment-orderdetails"></div>
    		</script>
		
		<script type="text/ng-template" id="productsReviews">
				<div th:replace="customer/layout::fragment-reviewproducts"></div>
    		</script>		
		
	</div>

	<div th:replace="fragments/layout::fragment-footer"></div>
	<div th:replace="fragments/layout::fragment-foot(angular=true)"></div>
	<script src="/resources/js/angular-upload-service.js"></script>
	<div th:replace="fragments/layout::fragment-scripts(angular=true)"></div>
	<script src="/resources/js/angular-customer.js"></script>
	<script type="text/javascript">
	</script>
</body>
</html>