<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${orderNumber} + ' - Order Details'">Order
	Details</title>
<meta th:include="fragments/admin/layout::fragment-head" />
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
    var _globalOrderNumber = /*[[${orderNumber}]]*/ 0;
/*]]>*/
</script>
</head>
<body ng-app="orderApp">
	<div class="container-fluid">

		<div th:replace="fragments/admin/layout::fragment-header"></div>
		<div th:replace="fragments/admin/layout::fragment-subnav"></div>

		<div class="container-fluid">
			<div class="order-details-container col-lg-8 col-md-10">
				<div class="ord-dtls-gallery-wrapper ng-cloak"
					ng-controller="ordDtlsCtrlr">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">
								Order Number #<span>{{o.orderNumber}}</span>
							</h3>
							<strong class="pull-right marg-r2"><i
								class="fa fa-calendar" aria-hidden="true"></i> {{o.date | date :
								'MM/dd/yyyy hh:mm a'}}</strong> <strong
								class="pull-right orange1 marg-r2"
								ng-show="o.notes.additonalNotes.indexOf('**FIRST ORDER**')>-1">
								<i class="fa fa-star" aria-hidden="true"></i> First Order
							</strong>
						</div>
						<div class="panel-body">

							<div class="alert alert-danger alert-dismissible" role="alert"
								ng-show="errorMsg">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<span ng-bind-html="errorMsg"></span>
							</div>

							<form class="form-horizontal" name="orderDetails">
								<div class="row order-details-main">
									<div class="col-sm-5">
										<h5>General Details</h5>
										<dl>
											<dt>Customer</dt>
											<dd class="marg-b2">
												<a href="/admin/users/#/details/{{o.customer._id}}"
													target="_blank">{{o.customer.email}}</a>
											</dd>
											<dt>Order Status</dt>
											<dd class="marg-b2">
												<div class="row">
													<div class="col-sm-5">
														<select ng-change="statusChange()"
															class="form-control input-sm capitalize"
															ng-options="status for status in orderStatuses"
															ng-model="o.status"></select>

													</div>
												</div>
											</dd>
											<dt>Order Total</dt>
											<dd>
												<strong>{{o.total | currency}}</strong>
											</dd>
										</dl>
									</div>

									<div class="col-sm-4">
										<h5>Billing Details</h5>
										<dl>
											<dt>Payment:</dt>
											<dd ng-if="o.billing.pmtMethod.method=='cc'">
												{{o.billing.pmtMethod.cardData.card_brand}} Card ending in
												{{o.billing.pmtMethod.cardData.last_4}}</dd>
											<dd ng-if="o.billing.pmtMethod.method=='cod'">
												{{o.billing.pmtMethod.type}}</dd>
										</dl>
										
										<dl ng-if="o.billing.email">
											<dt>Email:</dt>
											<dd>{{o.billing.email}}</dd>
										</dl>
										<dl ng-if="o.billing.phone">
											<dt>Phone:</dt>
											<dd>{{o.billing.phone}}</dd>
										</dl>


										<h5>Delivery Details</h5>
										<dl>
											<dt>Method:</dt>
											<dd>{{o.shipping.deliveryMethod}}</dd>
											<dt>Address:</dt>
											<dd>
												{{o.shipping.address.firstName}}
												{{o.shipping.address.lastName}}<br />
												{{o.shipping.address.address1}}
												{{o.shipping.address.address2}}<br />
												{{o.shipping.address.city}}, {{o.shipping.address.state}}
												{{o.shipping.address.zip}}
											</dd>
										</dl>
									</div>

									<div class="col-sm-3">
										<h5>Notes</h5>
										<div>
											<dl ng-if="o.notes.deliveryNotes">
												<dt>Delivery Notes:</dt>
												<dd>
													<span class="size12">{{o.notes.deliveryNotes}}</span>
												</dd>
											</dl>
											<dl ng-if="o.notes.additonalNotes">
												<dt>Additional Notes:</dt>
												<dd>
													<span class="size12">{{o.notes.additonalNotes}}</span>
												</dd>
											</dl>
										</div>

									</div>
								</div>
								<hr />

								<h4>Order Items</h4>
								<div class="item-details">
									<table class="table">
										<thead>
											<tr>
												<th class="col-xs-1"></th>
												<th class="pc60">Item</th>
												<th class="text-right">Cost</th>
												<th class="text-right">Qty</th>
												<th class="text-right">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in o.lineItems" ng-if="item.type=='item'">
												<td><img
													ng-src="{{lbGlobalCDNPath + item.img.replace('-150x150','').replace('.jpg','-150x150.jpg')}}"
													ng-if="item.img" class="fit" /></td>
												<td>
													<div>{{item.name}}</div>
													<div ng-repeat="spec in item.specs">
														<strong>{{spec.attr}}</strong>: <span>{{spec.value}}</span>
													</div>
												</td>
												<td class="text-right"><del class="grey7"
														ng-if="item.cost>item.price">
														{{item.cost | currency}}</del> {{item.price | currency}}</td>
												<td class="text-right">{{item.qty}}</td>
												<td class="text-right">{{(item.price * item.qty) |
													currency}}</td>

											</tr>

										</tbody>
									</table>
								</div>

								<div class="item-details">
									<table class="table">
										<thead>
											<tr>
												<th class="pc60">Coupons/Adjustments</th>
												<th class="text-right" colspan="3">Amount</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="4">
													<div class="clearfix" ng-repeat="item in o.lineItems"
														ng-if="item.type!='item'">
														<div class="pull-left">{{item.name + ' (' +
															item.type + ')' }}</div>
														<div class="pull-right text-right">-{{item.price |
															currency}}</div>
													</div>
													<div class="clearfix" ng-repeat="item in o.lineItems"
														ng-if="item.type=='item' &amp;&amp; item.promo &amp;&amp; item.promo.length > 1">
														<div class="pull-left">{{item.name + ' (' +
															item.promo + ')' }}</div>
														<div class="pull-right text-right">{{(item.cost -
															item.price)* -item.qty | currency}}</div>
													</div>
													<div class="clearfix" ng-repeat="item in o.lineItems"
														ng-if="item.type=='item' &amp;&amp; item.promo=='s'">
														<div class="pull-left">{{item.name + ' (Sale)' }}</div>
														<div class="pull-right text-right">{{(item.cost -
															item.price)* -item.qty | currency}}</div>
													</div>
												</td>
											</tr>

										</tbody>
									</table>
								</div>

								<div class="clearfix">
									<div class="pull-right">
										<table class="table">
											<tbody>
												<tr>
													<td class="text-right">Sub Total</td>
													<td class="text-right" colspan="3">{{o.subTotal |
														currency}}</td>

												</tr>
												<tr>
													<td class="text-right">Discount</td>
													<td class="text-right" colspan="3">{{(o.total-o.subTotal)
														| currency}}</td>

												</tr>
												<tr class="blue1">
													<th class="text-right size16">Total</th>
													<th class="text-right size16" colspan="3">{{o.total |
														currency}}</th>

												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div th:replace="fragments/admin/layout::fragment-footer"></div>
		<div th:include="fragments/admin/layout::fragment-foot(angular=true)"></div>
	</div>

	<script src="/resources/js/admin/angular-orderdetails-service.js"></script>
	<script src="/resources/js/admin/angular-order.js"></script>
</body>
</html>