<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${emailTitle}"></title>
</head>
<body>
	<div
		style="background-color: #dfdfdf; padding: 0; margin: 0 auto; width: 100%">
		<span
			style="display: none !important; font-size: 1px; color: transparent; min-height: 0; width: 0"
			th:text="${emailObj.emailInfo}"></span>
		<table border="0" cellspacing="0" cellpadding="0"
			style="font-family: Helvetica, Arial, sans-serif; border-collapse: collapse; width: 100% !important; font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0"
			width="100%" bgcolor="#DFDFDF">
			<tbody>
				<tr>
					<td colspan="3">

						<div
							th:replace="fragments::spacer(width=1, padding=0, size=5)"></div>
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" align="center"
							width="100%" style="table-layout: fixed">
							<tbody>
								<tr>
									<td align="center">
										<table border="0" cellspacing="0" cellpadding="0"
											style="font-family: Helvetica, Arial, sans-serif; min-width: 290px"
											width="540">
											<tbody>
												<tr>
													<td style="font-family: Helvetica, Arial, sans-serif">
														<div
															th:replace="fragments::spacer(width=1, padding=1, size=12)"></div>


														<table border="0" cellspacing="0" cellpadding="0"
															style="font-family: Helvetica, Arial, sans-serif"
															width="100%">
															<tbody>
																<tr>
																	<td align="left" valign="middle" width="95" height="60"><a
																		style="text-decoration: none; border: none; display: block; min-height: 60px; width: 100%"
																		href="https://www.luvbrite.com/" target="_blank"><img
																			src="https://lbrit.co/static/imgs/luvbrite-header-logo.png"																			
																			style="border: none; text-decoration: none"
																			width="50" height="60" alt="Luvbrite Collective" /></a></td>
																	<!--/*<td align="left" valign="middle" width="100%">
																		<div style="padding-left: 5px;">
																			<em
																				style="font-style: italic; font-family: Georgia; font-size: 18px; color: #000;">Luvbrite
																				Collective</em>
																		</div>
																	</td>*/-->
																</tr>
															</tbody>
														</table>

														<div
															th:replace="fragments::spacer(width=1, padding=1, size=12)"></div>

														<table border="0" cellspacing="0" cellpadding="0"
															style="font-family: Helvetica, Arial, sans-serif;"
															width="100%" bgcolor="#557da1">
															<tbody>
																<tr>
																	<td width="20">
																		<div
																			th:replace="fragments::spacer(width=20, padding=1, size=0)"></div>
																	</td>
																	<td width="100%">
																		<table width="500" cellspacing="0" cellpadding="1"
																			border="0" style="table-layout: fixed">
																			<tbody>
																				<tr>
																					<td width="500">
																						<div
																							style="min-height: 12px; font-size: 12px; line-height: 12px; width: 500px">
																							&nbsp;</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																	<td width="20">
																		<div
																			th:replace="fragments::spacer(width=20, padding=1, size=0)"></div>
																	</td>
																</tr>
															</tbody>
														</table>
														<table border="0" cellspacing="0" cellpadding="0"
															style="font-family: Helvetica, Arial, sans-serif;"
															width="100%" bgcolor="#FFFFFF">
															<tbody>
																<tr>
																	<td width="20">
																		<div
																			th:replace="fragments::spacer(width=20, padding=1, size=0)"></div>
																	</td>
																	<td
																		style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 18px"
																		align="left">
																		<div
																			th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
																		<div
																			th:replace="${emailObj.emailTemplate}::main"></div>

																	</td>
																	<td width="20">
																		<div
																			th:replace="fragments::spacer(width=20, padding=1, size=0)"></div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table border="0" cellspacing="0" cellpadding="0"
											style="font-family: Helvetica, Arial, sans-serif" width="540">
											<tbody>
												<tr>
													<td align="left">
														<table border="0" cellspacing="0" cellpadding="0"
															style="font-family: Helvetica, Arial, sans-serif"
															width="100%">
															<tbody>
																<tr>
																	<td>
																		
	<table border="0" cellspacing="0" cellpadding="0"
		style="font-family: Helvetica, Arial, sans-serif" width="100%"
		bgcolor="#FFFFFF" th:fragment="main">
		<tbody th:object="${emailObj.email}">
			<tr>
				<td>Hi <span th:text="${emailObj.recipientName}"></span>,
				</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Below are the details in regards to your recent order with
					Luvbrite Collective. If you have any questions or concerns
					regarding your order please call us at 310-697-2611 and we
					will respond promptly.</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td><div style="font-size: 14px;">
						<strong style="color: #557da1;">Order Number:</strong> <span
							th:text="*{orderNumber}"></span><br /> <strong
							style="color: #557da1;">Order Date:</strong> <span
							th:text="*{#dates.format(date,'MM/dd/yyyy hh:mm a')}"></span><br />
						<strong style="color: #557da1;">Order Total:</strong> $<span
							th:text="*{#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></span>
					</div></td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>




			<tr>
				<td>

					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tbody>

							<tr>
								<td>
									<table border="1" cellspacing="0" cellpadding="5" width="100%"
										style="border-color: #eee; font-size: 14px;">
										<tbody>

											<tr>
												<th style="text-align: left; color: #557da1;">Product</th>
												<th style="text-align: right; color: #557da1;">Quantity</th>
												<th style="text-align: right; color: #557da1;">Price</th>
											</tr>

											<tr th:each="ol:*{lineItems}" th:if="${ol.type=='item'}">
												<td><div th:text="${ol.name}"></div>
													<div th:each="spec : ${ol.specs}">
														<em th:text="${spec.attr}"></em>: <span
															th:text="${spec.value}"></span>
													</div></td>

												<td style="text-align: right;" th:text="${ol.qty}">2</td>
												<td style="text-align: right;">$<span
													th:text="${#numbers.formatDecimal((ol.cost*ol.qty), 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>


											<tr>
												<td colspan="2"
													style="text-align: right; padding-top: 15px;color:#000000;">Sub
													Total</td>
												<td
													style="text-align: right; width: 100px; padding-top: 15px;color:#000000;">$<span
													th:text="*{#numbers.formatDecimal(subTotal, 1, 'COMMA', 2, 'POINT')}"></span></td>

											</tr>
											
											<tr>
												<td colspan="2" style="text-align: right;"><strong>Taxes</strong>
													<div style="font-size:12px; color:#666666;"
													th:if="*{orderTax}!=null and *{orderTax.applicableTax} != 0">
													</div>
												</td>
												<td style="text-align: right;"><strong>$<span
														th:text="*{#numbers.formatDecimal(tax, 1, 'COMMA', 2, 'POINT')}"></span></strong></td>

											</tr>

											<tr th:each="ol:*{lineItems}" th:if="${ol.type!='item'}">
												<td colspan="2"><div th:text="${ol.type}"></div></td>
												<td style="text-align: right;">-$<span
													th:text="${#numbers.formatDecimal(ol.price, 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>

											<tr th:each="ol:*{lineItems}"
												th:if="${ol.type=='item' and ol.promo != null and ol.promo.length() > 1}">
												<td colspan="2">
													<div th:if="${ol.promo=='doubledownoffer'}">Doubledown Promo</div>
													<div th:if="${ol.promo=='offhourpromo'}">Off hour Promo</div>
													<div th:if="${ol.promo=='firsttimepatient'}">First Time Patient Promo</div>
													<div th:if="${ol.promo=='420 Promo'}">420 Promo</div>
													<div th:if="${ol.promo=='freegrampromo'}">Free Gram Promo</div>
													<div th:if="${ol.promo=='Buy2ItemsGet1Item Offer'}">Buy 2 - Get 1 Deal</div>
													<div th:if="${ol.promo=='BuyItemAGetItemB Offer'}">BOGO Deal</div>
												</td>
												<td style="text-align: right;">-$<span
													th:text="${#numbers.formatDecimal(((ol.cost-ol.price)*ol.qty), 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>

											<tr th:each="ol:*{lineItems}"
												th:if="${ol.type=='item' and ol.promo=='s'}">
												<td colspan="2">
													<div th:text="|${ol.name} (Sale)|"></div>
												</td>
												<td style="text-align: right;">-$<span
													th:text="${#numbers.formatDecimal(((ol.cost-ol.price)*ol.qty), 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>
											
											<tr th:if="*{shipping} and *{shipping.rushFee}">
												<td colspan="2" style="text-align: right;"><strong>Rush Fee</strong></td>
												<td style="text-align: right;"><strong>$<span
														th:text="*{#numbers.formatDecimal(shipping.rushFee, 1, 'COMMA', 2, 'POINT')}"></span></strong></td>

											</tr>
											
											<tr>
												<td colspan="2" style="text-align: right; color: #557da1;"><strong>Total</strong></td>
												<td style="text-align: right; color: #557da1;"><strong>$<span
														th:text="*{#numbers.formatDecimal(total, 1, 'COMMA', 2, 'POINT')}"></span></strong></td>

											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<div
										th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
								</td>
							</tr>

							<tr th:if="*{billing}">
								<td>

									<table border="0" cellspacing="0" cellpadding="0" align="left"
										style="font-size: 14px">
										<tbody>
											<tr>
												<th style="text-align: left; color: #557da1;">Payment</th>

											</tr>

											<tr>
												<td>
													<div
														th:replace="fragments::spacer(width=1, padding=1, size=8)"></div>
												</td>
											</tr>
											<tr>
												<td>
													<div>
														<strong th:text="*{billing.pmtMethod.type}"></strong>
													</div>
													<div th:if="*{billing.pmtMethod.method=='cc'}">
														<span th:text="*{billing.pmtMethod.cardData.card_brand}"></span>
														card ending in <span
															th:text="*{billing.pmtMethod.cardData.last_4}"></span>
													</div>
												</td>

											</tr>
										</tbody>
									</table>

								</td>
							</tr>

							<tr>
								<td>
									<div
										th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
								</td>
							</tr>

							<tr th:if="*{shipping.address}">
								<td>

									<table border="0" cellspacing="0" cellpadding="0" align="left"
										style="font-size: 14px">
										<tbody>
											<tr>
												<th style="text-align: left; color: #557da1;">Delivery</th>

											</tr>

											<tr>
												<td>
													<div
														th:replace="fragments::spacer(width=1, padding=1, size=8)"></div>
												</td>
											</tr>
											<tr>
												<td>
													<div><strong th:text="*{shipping.deliveryMethod}"></strong></div>
													<div>
														<span th:text="*{shipping.address.firstName}"></span> <span
															th:text="*{shipping.address.lastName}"></span><br /> <span
															th:text="*{shipping.address.address1}"></span> <span
															th:text="*{shipping.address.address2}"></span><br /> <span
															th:text="*{shipping.address.city}"></span>, <span
															th:text="*{shipping.address.state}"></span> <span
															th:text="*{shipping.address.zip}"></span> <span
															th:if="*{shipping.address.phone}"><br />Ph: <span
															th:text="*{shipping.address.phone}"></span></span>
													</div></td>

											</tr>
										</tbody>
									</table>

								</td>
							</tr>

							<tr>
								<td>
									<div
										th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
								</td>
							</tr>

							<tr th:if="*{notes != null and notes.deliveryNotes != null}">
								<td>

									<table border="0" cellspacing="0" cellpadding="0" align="left"
										style="font-size: 14px">
										<tbody>
											<tr>
												<th style="text-align: left; color: #557da1;">Notes</th>

											</tr>

											<tr>
												<td>
													<div
														th:replace="fragments::spacer(width=1, padding=0, size=8)"></div>
												</td>
											</tr>

											<tr>
												<td th:text="*{notes.deliveryNotes}"></td>

											</tr>
										</tbody>
									</table>

								</td>
							</tr>

						</tbody>
					</table>

				</td>
			</tr>








			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Thanks for using Luvbrite Collective!</td>
			</tr>
			<tr>
				<td>Luvbrite Team</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
		</tbody>
	</table>
																	</td>
																</tr>
																<tr>
																	<td align="left">
																		<table border="0" cellspacing="0" cellpadding="0"
																			style="font-family: Helvetica, Arial, sans-serif; font-size: 11px; font-family: Helvetica, Arial, sans-serif; color: #999999"
																			width="100%">
																			<tbody>
																				<tr>
																					<td></td>
																				</tr>
																				<tr>
																					<td><div style="padding-left: 5px;">
																							This email was intended for <span
																								th:text="${emailObj.recipientName}"></span> (<span
																								th:text="${emailObj.recipientEmail}"></span>).
																						</div></td>
																				</tr>
																				<tr>
																					<td><div style="padding-left: 5px;">
																							If you need assistance or have questions, please
																							contact <a
																								style="color: #0077b5; text-decoration: none"
																								href="#" target="_blank">Luvbrite Collective
																								Support</a>.
																						</div></td>
																				</tr>
																				<tr>
																					<td>
																						<div
																							th:replace="fragments::spacer(width=1, padding=1, size=10)"></div>
																					</td>
																				</tr>
																				<tr>
																					<td><div style="padding-left: 5px;">
																							&copy; <span
																								th:text="${#calendars.format(#calendars.createNow(), 'yyyy')}"></span>,
																							Luvbrite Collective
																						</div></td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td>
																		<div
																			th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>