<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Review</title>
</head>
<body>

	<table border="0" cellspacing="0" cellpadding="0"
		style="font-family: Helvetica, Arial, sans-serif" width="100%"
		bgcolor="#FFFFFF" th:fragment="main">
		<tbody>
			<tr>
				<td>Hi there,</td>
			</tr>
			<tr>
				<td>
					<div
						th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>We have a new product review waiting for your approval. Please review and approve the same at the earliest.</td>
			</tr>
			<tr>
				<td>
					<div
						th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Thanks</td>
			</tr>
			<tr>
				<td>Luvbrite Team</td>
			</tr>
			<tr>
				<td>
					<div
						th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>