<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${emailObj.emailTitle}"></title>
</head>
<body>

	<table border="0" cellspacing="0" cellpadding="0"
		style="font-family: Helvetica, Arial, sans-serif" width="100%"
		bgcolor="#FFFFFF" th:fragment="main">
		<tbody th:object="${emailObj.email}">
			<tr>
				<td>Hi <span th:text="${emailObj.recipientName}"></span>,
				</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Below are the details in regards to your recent order with
					Luvbrite Collective. If you have any questions or concerns
					regarding your order please call us at (424) 270-1560 and we
					will respond promptly.</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td><div style="font-size: 14px;">
						<strong style="color: #557da1;">Order Number:</strong> <span
							th:text="*{orderNumber}"></span><br /> <strong
							style="color: #557da1;">Order Date:</strong> <span
							th:text="*{#dates.format(date,'MM/dd/yyyy hh:mm a')}"></span><br />
						<strong style="color: #557da1;">Order Total:</strong> $<span
							th:text="*{#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></span>
					</div></td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>




			<tr>
				<td>

					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tbody>

							<tr>
								<td>
									<table border="1" cellspacing="0" cellpadding="5" width="100%"
										style="border-color: #eee; font-size: 14px;">
										<tbody>

											<tr>
												<th style="text-align: left; color: #557da1;">Product</th>
												<th style="text-align: right; color: #557da1;">Quantity</th>
												<th style="text-align: right; color: #557da1;">Price</th>
											</tr>

											<tr th:each="ol:*{lineItems}" th:if="${ol.type=='item'}">
												<td><div th:text="${ol.name}"></div>
													<div th:each="spec : ${ol.specs}">
														<em th:text="${spec.attr}"></em>: <span
															th:text="${spec.value}"></span>
													</div></td>

												<td style="text-align: right;" th:text="${ol.qty}">2</td>
												<td style="text-align: right;">$<span
													th:text="${#numbers.formatDecimal((ol.cost*ol.qty), 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>


											<tr>
												<td colspan="2"
													style="text-align: right; padding-top: 15px;color:#000000;">Sub
													Total</td>
												<td
													style="text-align: right; width: 100px; padding-top: 15px;color:#000000;">$<span
													th:text="*{#numbers.formatDecimal(subTotal, 1, 'COMMA', 2, 'POINT')}"></span></td>

											</tr>

											<tr th:each="ol:*{lineItems}" th:if="${ol.type!='item'}">
												<td colspan="2"><div th:text="${ol.type}"></div></td>
												<td style="text-align: right;">-$<span
													th:text="${#numbers.formatDecimal(ol.price, 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>

											<tr th:each="ol:*{lineItems}"
												th:if="${ol.type=='item' and ol.promo != null and ol.promo.length() > 1}">
												<td colspan="2">
													<div th:if="${ol.promo=='doubledownoffer'}">Doubledown Promo</div>
													<div th:if="${ol.promo=='offhourpromo'}">Off hour Promo</div>
													<div th:if="${ol.promo=='firsttimepatient'}">First Time Patient Promo</div>
													<div th:if="${ol.promo=='fifthflower'}">Holiday Promo</div>
													<div th:if="${ol.promo=='ValentinesDayPromos'}">Valentines Day Promo</div>
												</td>
												<td style="text-align: right;">-$<span
													th:text="${#numbers.formatDecimal(((ol.cost-ol.price)*ol.qty), 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>

											<tr th:each="ol:*{lineItems}"
												th:if="${ol.type=='item' and ol.promo=='s'}">
												<td colspan="2">
													<div th:text="|${ol.name} (Sale)|"></div>
												</td>
												<td style="text-align: right;">-$<span
													th:text="${#numbers.formatDecimal(((ol.cost-ol.price)*ol.qty), 1, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>
											
											<tr>
												<td colspan="2" style="text-align: right; color: #557da1;"><strong>Total</strong></td>
												<td style="text-align: right; color: #557da1;"><strong>$<span
														th:text="*{#numbers.formatDecimal(total, 1, 'COMMA', 2, 'POINT')}"></span></strong></td>

											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<div
										th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
								</td>
							</tr>

							<tr th:if="*{billing}">
								<td>

									<table border="0" cellspacing="0" cellpadding="0" align="left"
										style="font-size: 14px">
										<tbody>
											<tr>
												<th style="text-align: left; color: #557da1;">Payment</th>

											</tr>

											<tr>
												<td>
													<div
														th:replace="fragments::spacer(width=1, padding=1, size=8)"></div>
												</td>
											</tr>
											<tr>
												<td>
													<div>
														<strong th:text="*{billing.pmtMethod.type}"></strong>
													</div>
													<div th:if="*{billing.pmtMethod.method=='cc'}">
														<span th:text="*{billing.pmtMethod.cardData.card_brand}"></span>
														card ending in <span
															th:text="*{billing.pmtMethod.cardData.last_4}"></span>
													</div>
												</td>

											</tr>
										</tbody>
									</table>

								</td>
							</tr>

							<tr>
								<td>
									<div
										th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
								</td>
							</tr>

							<tr th:if="*{shipping.address}">
								<td>

									<table border="0" cellspacing="0" cellpadding="0" align="left"
										style="font-size: 14px">
										<tbody>
											<tr>
												<th style="text-align: left; color: #557da1;">Delivery</th>

											</tr>

											<tr>
												<td>
													<div
														th:replace="fragments::spacer(width=1, padding=1, size=8)"></div>
												</td>
											</tr>
											<tr>
												<td>
													<div><strong th:text="*{shipping.deliveryMethod}"></strong></div>
													<div>
														<span th:text="*{shipping.address.firstName}"></span> <span
															th:text="*{shipping.address.lastName}"></span><br /> <span
															th:text="*{shipping.address.address1}"></span> <span
															th:text="*{shipping.address.address2}"></span><br /> <span
															th:text="*{shipping.address.city}"></span>, <span
															th:text="*{shipping.address.state}"></span> <span
															th:text="*{shipping.address.zip}"></span> <span
															th:if="*{shipping.address.phone}"><br />Ph: <span
															th:text="*{shipping.address.phone}"></span></span>
													</div></td>

											</tr>
										</tbody>
									</table>

								</td>
							</tr>

							<tr>
								<td>
									<div
										th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
								</td>
							</tr>

							<tr th:if="*{notes != null and notes.deliveryNotes != null}">
								<td>

									<table border="0" cellspacing="0" cellpadding="0" align="left"
										style="font-size: 14px">
										<tbody>
											<tr>
												<th style="text-align: left; color: #557da1;">Notes</th>

											</tr>

											<tr>
												<td>
													<div
														th:replace="fragments::spacer(width=1, padding=0, size=8)"></div>
												</td>
											</tr>

											<tr>
												<td th:text="*{notes.deliveryNotes}"></td>

											</tr>
										</tbody>
									</table>

								</td>
							</tr>

						</tbody>
					</table>

				</td>
			</tr>








			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Thanks for using Luvbrite Collective!</td>
			</tr>
			<tr>
				<td>Luvbrite Team</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>