<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Password Reset Request</title>
</head>
<body>

	<table border="0" cellspacing="0" cellpadding="0"
		style="font-family: Helvetica, Arial, sans-serif" width="100%"
		bgcolor="#FFFFFF" th:fragment="main">
		<tbody>
			<tr>
				<td>Hi <span th:text="${emailObj.recipientName}"></span>,</td>
			</tr>
			<tr>
				<td>
					<div
						th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>You've successfully changed your Luvbrite account password.</td>
			</tr>
			<tr>
				<td>
					<div
						th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Thanks for subscribing to Luvbrite!</td>
			</tr>
			<tr>
				<td>Luvbrite Team</td>
			</tr>
			<tr>
				<td>
					<div
						th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>