<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
</head>
<body>

	<table border="0" cellspacing="0" cellpadding="0"
		style="font-family: Helvetica, Arial, sans-serif" width="100%"
		bgcolor="#FFFFFF" th:fragment="main">
		<tbody>
			<tr>
				<td>Hi <span th:text="${emailObj.recipientName}"></span>,
				</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Thank you for your interest in Luvbrite Collective. We
					received your registration request. We will validate the
					recommendation letter and approve your account soon.</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Once approved, you will receive a welcome email from us.</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>If you have any questions please feel free to call us or
					email us.</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
			<tr>
				<td>Thanks for subscribing to Luvbrite!</td>
			</tr>
			<tr>
				<td>Luvbrite Team</td>
			</tr>
			<tr>
				<td>
					<div th:replace="fragments::spacer(width=1, padding=1, size=20)"></div>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>