<button type="button" class="btn btn-primary btn-xs"
	ng-click="addPromo('PROMOKIVA',-10)">Add Off Hour Kiva</button>
<button type="button" class="btn btn-danger btn-xs"
	ng-click="addPromo('PROMODBLDN',-10)">Add $10 Double Down
	Offer</button>
<button type="button" class="btn btn-info btn-xs"
	ng-click="addPromo('PROMODBLDN',-20)">Add $20 Double Down
	Offer</button>
<button type="button" class="btn btn-primary btn-xs"
	ng-click="addPromo('PROMOCPN',-10)">Add Loyalist Reward $10</button>
<button type="button" class="btn btn-danger btn-xs"
	ng-click="addCrtsyPromo()">Add Courtesy Discount</button>
<a href="" class="btn btn-warning btn-xs addAdjBtn"
	ng-click="addAdjustment()">Add Adjustment</a>