<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" ng-app="invApp">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Inventory / {{rootPage}}</title>
<meta th:include="fragments/admin/layout::fragment-head" />
</head>
<body th:with="sc=${session.SPRING_SECURITY_CONTEXT}">
	<div class="admin-container"
		th:with="superAdmin=${sc!=null and #strings.contains(sc.authentication.authorities, 'ROLE_INV_ADMIN')},admin=${sc!=null and #strings.contains(sc.authentication.authorities, 'ROLE_ADMIN')}">

		<div th:replace="fragments/admin/layout::fragment-header"></div>
		<div th:replace="fragments/admin/layout::fragment-subnav"></div>

		<div class="container-fluid" ng-controller="defaultRouteCtrl"
			th:if="${sc!=null and #strings.contains(sc.authentication.authorities, 'ROLE_INV_ADMIN')}">
			<div class="app-container ng-cloak">
				<hr />

				<div class="container">
					<div class="collapse navbar-collapse" id="navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown dropdown-hover" th:if="${superAdmin}"><a
								href="#" class="dropdown-toggle" target="_self"
								data-toggle="dropdown" role="button" aria-expanded="false">Products<span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/products/add-products">Add Products</a></li>
									<li><a href="#/products/add-strains">Add Strains</a></li>
									<li><a href="#/products/add-categories">Add Categories</a></li>
								</ul></li>
							<li><a href="#/add-people" th:if="${superAdmin}">People
									&amp; Shops</a></li>
							<li><a href="#/purchases" th:if="${superAdmin}">Purchases</a></li>
							<li class="dropdown dropdown-hover driver-hidden"
								th:if="${superAdmin}"><a class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false">Inventory<span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/inventory/shop-inventory">Shop
											Inventory</a></li>
									<!-- <li><a href="#/inventory/box-inventory">Box
										Inventory</a></li> -->
									<li><a href="#/inventory/inv-alert-settings">Alert
											Setting</a></li>
									<li><a href="#/inventory/take-stock">Take Stock</a></li>
									<li><a href="#/inventory/misc">Misc. Report</a></li>
								</ul></li>

							<li class="dropdown dropdown-hover" th:if="${superAdmin}"><a
								href="#" class="dropdown-toggle" target="_self"
								data-toggle="dropdown" role="button" aria-expanded="false"><span
									class="glyphicon glyphicon-cog" aria-hidden="true"></span><span
									class="caret"></span> </a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/settings/barcodes"
										title="Generate Barcodes"><span
											class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
											Generate Barcodes</a></li>
									<li><a href="#/settings/bulk-shop-assign"
										title="Move packets to a Shop"><span
											class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
											Bulk Move</a></li>
									<li><a href="#/settings/logs" title="Tracking Log"><span
											class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
											Tracking Logs</a></li>
									<li><a href="#/settings/stats" title="Statistic"><span
											class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
											Statistics</a></li>
									<li><a href="#/settings/returns" title="All Units"><span
											class="glyphicon glyphicon-copy" aria-hidden="true"></span>
											Returns</a></li>
									<li><a href="#/packets" title="All Units"><span
											class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
											All Units</a></li>
								</ul></li>
						</ul>
					</div>
				</div>

				<hr />

				<div ng-view=""></div>

			</div>
		</div>

		<div class="printBcLater ng-cloak fix small"
			ng-show="aq &amp;&amp; aq.length"
			ng-class="{'showplmn' : toggleView}">
			<div class="text-right">
				<button type="button" ng-click="toggleView=!toggleView">
					<span ng-if="!toggleView">Barcodes ready!</span><span
						ng-if="toggleView">Hide</span>
				</button>
			</div>

			<div class="pblmain">
				<table class="table table-bordered">
					<tr ng-repeat="q in aq track by $index" ng-if="!q.printed"
						class="success">
						<td><div>{{$index+1}}</div></td>
						<td>You have {{q.bcs.length}} barcodes to be printed!</td>
						<td><div>
								<form class="form-group form-group-sm">
									Skip <input type="number" class="form-control smallnuminput"
										value="" ng-model="pblSkipRows" /> rows and <input
										type="number" class="form-control smallnuminput" value=""
										ng-model="pblSkipCols" /> columns and <a href=""
										ng-click="printFromBCQueue()" class="btn btn-xs btn-info">PRINT</a>
								</form>

								<div>
									<em>Total cells skipped = {{pblSkipRows*4+pblSkipCols}}</em>
								</div>
							</div></td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<th colspan="3">Already Printed</th>
					</tr>
					<tr ng-repeat="q in aq track by $index" ng-if="q.printed"
						class="active">
						<td><div>{{$index+1}}</div></td>
						<td><div>
								{{q.date | date:medium}}<br />{{q.bcs.length}} barcodes
								printed!
							</div></td>
						<td><div>
								<form class="form-group form-group-sm marg-b0">
									Skip <input type="number" class="form-control smallnuminput"
										value="" ng-model="pblSkipRows" /> rows and <input
										type="number" class="form-control smallnuminput" value=""
										ng-model="pblSkipCols" /> columns and <a href=""
										ng-click="printFromBCQueue()" class="btn btn-xs btn-info">PRINT</a>
								</form>
							</div></td>
					</tr>
				</table>

			</div>
		</div>

		<div th:replace="fragments/admin/layout::fragment-footer"></div>
		<div th:include="fragments/admin/layout::fragment-foot(angular=true)"></div>
		<script type="text/javascript" th:if="superAdmin">var isSuperAdmin = function(){return true;};</script>
		<script type="text/javascript" th:unless="superAdmin">var isSuperAdmin = function(){return false;};</script>
	</div>

	<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkFB_q0sw9ruZsOnY9-TF0cuMfMLG4DI0&amp;libraries=visualization"></script>
	<script type="text/javascript"	src="https://www.gstatic.com/charts/loader.js"></script>		
	<script src="/resources/js/lib/cdn/ui-bootstrap-tpls-1.2.1.min.js"></script>

	<script
		th:src="@{/resources/js/admin/inv/admin-comb.min.js(v=${@modifiedDate.adminInvJsDate})}"
		src="/resources/js/admin/inv/admin-comb.min.js?v002"></script>
	<script type="text/javascript">
		$('.nav-inventory').addClass('active');
	</script>
</body>
</html>